<div class="wrapper h-100">

    <prt-header [selectedTab]="'DOWNLOAD'"></prt-header>

    <div class="row no-pad-margin text-center v-center-content">
        <div class="col-12 my-auto">
            <div class="heading">Chat from your desktop.</div>
            <div class="sub-heading">Easily connect with people without the hassle of a browser.</div>

            <a href="https://drive.google.com/file/d/1ArCnUj1EsdwgxnxWLmCQ2XtUqZQex1rg/view?usp=sharing"
                target="_blank">
                <button class="btn open-btn"><i class="fab fa-windows"></i>&nbsp;
                    Windows</button></a> &nbsp;&nbsp;

            <!-- <a href="https://drive.google.com/file/d/1FGCrF7jw19SsC4nn6iQGFQrES-M13tBk/view?usp=sharing"
                target="_blank"> -->
                <button class="btn open-btn" (click)="openComingSoonModal()"><i class="fab fa-apple"></i>&nbsp; Mac
                    OS</button><!-- </a> --> &nbsp;&nbsp;
           

            <a href="https://drive.google.com/file/d/1XHRXHUo4ftKSjD7Ib8NeStAPkAQefJtp/view?usp=sharing"
                target="_blank">
                <button class="btn open-btn"><i class="fab fa-linux"></i>&nbsp;
                    Linux</button>
            </a>
        </div>
    </div>

</div>
<prt-footer></prt-footer>