.modal-header {
    background-color: rgb(33, 37, 43);
    border-bottom: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.modal-body {
    background-color: rgb(249, 253, 255);
    padding: 0;
}

.modal-footer {
    background-color: rgb(249, 253, 255);
    border-top: 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-top: 0;
    padding-bottom: 0;
    justify-content: center;
}

.close-btn {
    color: #00AFF0;
    position: absolute;
    right: 13px;
    top: 10px;
    font-size: 20px;
}

.close-btn:hover {
    color: #ffffff;
}

.help-header {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #ffffff;
    font-size: 18px;
}

.help-tab {
    padding-top: 10px;
    padding-bottom: 10px;

}

.help-tab:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.selected-tab {
    color: #000000;
    background-color: rgba(0, 0, 0, 0.05);
    border-bottom: 3px solid #00AFF0;
}

.hidden-container {
    position: absolute;
    top: -2000px;
    opacity: 0;
}

.shown-container {
    position: relative;
    opacity: 1;
    transition: .25s ease-in;
}

.help-info-container {
    padding-top: 10px;
    padding-bottom: 10px;
}

.help-title-text {
    padding-top: 10px;
}

.inner-help-text {
    padding-left: 5px; 
    padding-right: 5px;
    font-size: 13px;
    padding-bottom: 10px;
}

.link-to-tab {
    text-decoration: underline;
    cursor: pointer;
    color: #007bff;
}

