.help-tab {
    padding-top: 10px;
    padding-bottom: 10px;

}

.help-tab:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.selected-tab {
    color: #000000;
    background-color: rgba(0, 0, 0, 0.05);
    border-bottom: 3px solid #00AFF0;
}

.hidden-container {
    position: absolute;
    top: -2000px;
    opacity: 0;
}

.shown-container {
    position: relative;
    opacity: 1;
    transition: .25s ease-in;
}

.help-info-container {
    padding-top: 10px;
    padding-bottom: 10px;
}

.help-title-text {
    padding-top: 10px;
}

.inner-help-text {
    padding-left: 5px; 
    padding-right: 5px;
    font-size: 13px;
    padding-bottom: 10px;
}

.link-to-tab {
    text-decoration: underline;
    cursor: pointer;
    color: #007bff;
}

