.modal-header {
    background-color: rgb(33, 37, 43);
    border-bottom: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.modal-body {
    background-color: rgb(249, 253, 255);
    padding-top: 20px;
    padding-bottom: 0;
}

.modal-footer {
    background-color: rgb(249, 253, 255);
    border-top: 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-top: 0;
    padding-bottom: 0;
    justify-content: center;
}

.close-btn {
    color: #00AFF0;
    position: absolute;
    right: 13px;
    top: 10px;
    font-size: 20px;
}

.close-btn:hover {
    color: #ffffff;
}

.avatar-header {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #ffffff;
    font-size: 18px;
}

.alert-messages {
    padding-bottom: 20px;
}

.avatars-container {
    padding-bottom: 15px;
}

.avatar-image {
    height: 55px;
    width: 60px;
    border-radius: 50%;
    opacity: .6;
    transition: .25s;
}

.avatar-image:hover {
    opacity: 1;
    transition: .25s;
    -webkit-box-shadow: 2px 4px 10px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 2px 4px 10px 0 rgba(0, 0, 0, 0.2);
}

.active-avatar {
    opacity: 1;
    -webkit-box-shadow: 2px 4px 10px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 2px 4px 10px 0 rgba(0, 0, 0, 0.2);
}

.submit-btn {
    border-radius: 20px;
    margin: 10px 0 10px 0;
    padding: 10px 50px 10px 50px;
    font-weight: 600;
    font-size: 18px;
    border: 0;
}