.alert-messages {
    padding-bottom: 20px;
}

.avatars-container {
    padding-bottom: 15px;

    .avatar-image {
        height: 55px;
        width: 60px;
        border-radius: 50%;
        opacity: 0.6;
        transition: 0.25s;

        &:hover {
            opacity: 1;
            transition: 0.25s;
            box-shadow: 2px 4px 10px 0 rgba(0, 0, 0, 0.2);
        }
    }

    .active-avatar {
        opacity: 1;
        box-shadow: 2px 4px 10px 0 rgba(0, 0, 0, 0.2);
    }
}
