<div class="wrapper">

    <prt-header [selectedTab]="'DEVELOPERS'"></prt-header>

    <div class="row no-pad-margin text-center">
        <div class="col-12">

            <div class="row">
                <div class="col-lg-6 col-sm-12 offset-lg-3">

                    <!-- Title -->
                    <div class="row developer-container">
                        <div class="col-12">
                            <div class="heading">The Team</div>
                        </div>
                    </div>

                    <!-- Developers -->
                    <div class="row developer-container">
                        <div class="col-3 mx-auto">
                            <img class="img-fluid"
                                src="../../../assets/images/avatars/developer-avatar.png" />
                        </div>

                        <div class="col-9 text-left">
                            <div class="name-heading">Matt</div>
                            <div class="work-title">
                                Full Stack Development
                            </div>
                            <div class="contact-info">
                                <a href="http://www.linkedin.com">LinkedIn</a> | <a
                                    href="mailto:nepexx@gmail.com">Contact</a>
                            </div>

                            <div class="bio">
                                I work with creating and maintaining the front and backend of the website as well as server management.
                                <br />
                                <br />
                                Technologies used: <i>Angular, HTML, CSS, Node, Express, PgSQL, Nginx</i>
                                <br />
                                <br />
                                Any suggestions on how we can improve in these areas is always appreciated.
                            </div>
                        </div>
                    </div>

                    <div class="row developer-container">
                        <div class="col-3 mx-auto">
                            <img class="img-fluid avatar"
                                src="../../../assets/images/avatars/developer-avatar.png" />
                        </div>

                        <div class="col-9 text-left">
                            <div class="name-heading">Renz</div>
                            <div class="work-title">
                                Graphics / Layout
                            </div>
                            <div class="contact-info">
                                <a href="http://www.linkedin.com">LinkedIn</a> | <a href="mailto:tmpdg1@gmail.com">Contact</a>
                            </div>

                            <div class="bio">
                                I work with designing the website's layouts and making sure everything looks nice before
                                it is
                                implemented for you to see. Most of the assets on the site were originally created by me.
                                <br /> <br />
                                Technologies used: <i>Adobe Illustrator, Photoshop, InDesign, Animate</i>
                                <br /> <br />
                                Always looking for new projects and work so feel free to contact me by email.
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

</div>

<prt-footer></prt-footer>