<!-- Header -->
<div class="modal-blue-header no-pad-margin">
    <img src="../../assets/images/prt-icon-white.png" class="img-fluid mx-auto prt-icon" />
    <i class="fas fa-times cursor-pointer modal-blue-close-btn" (click)="activeModal.dismiss()"></i>
</div>
<!-- Body -->
<div class="container modal-blue-body">
    <div class="row">
        <div class="col-12 text-center">
            <prt-alert-messages [messages]="messages"></prt-alert-messages>

            <form (ngSubmit)="createUser()" [formGroup]="signUpForm" novalidate>
                <div class="form-group position-relative">
                    <prt-form-validation-msgs [control]="signUpForm.controls.name" [submitted]="signUpForm.submitted">
                    </prt-form-validation-msgs>
                    <div class="col-12">
                        <div class="input-group">
                            <input type="text" class="form-control text-input" formControlName="name" autocomplete="off"
                                spellcheck="false" autofocus placeholder="Enter your default name" />
                        </div>
                    </div>
                </div>

                <div class="form-group position-relative">
                    <prt-form-validation-msgs [control]="signUpForm.controls.email" [submitted]="signUpForm.submitted">
                    </prt-form-validation-msgs>
                    <div class="col-12">
                        <div class="input-group">
                            <input type="text" class="form-control text-input" formControlName="email" name="email"
                                id="email" spellcheck="false" autocomplete="off" placeholder="Email" />
                        </div>
                    </div>
                </div>

                <div class="form-group position-relative">
                    <prt-form-validation-msgs [control]="signUpForm.controls.password"
                        [submitted]="signUpForm.submitted"></prt-form-validation-msgs>
                    <div class="col-12">
                        <div class="input-group">
                            <input type="password" class="form-control text-input" formControlName="password"
                                placeholder="Password" />
                        </div>
                    </div>
                </div>

                <div class="form-group position-relative">
                    <prt-form-validation-msgs [control]="signUpForm.controls.passwordConfirm"
                        [submitted]="signUpForm.submitted"></prt-form-validation-msgs>
                    <div class="col-12">
                        <div class="input-group">
                            <input type="password" class="form-control text-input" formControlName="passwordConfirm"
                                placeholder="Confirm Password" />
                        </div>
                    </div>
                </div>

                <div class="form-group text-center">
                    <input type="submit" value="HOP IN!" class="submit-btn cursor-pointer" />
                </div>
            </form>

        </div>
    </div>
</div>
<!-- Footer -->
<div class="modal-blue-footer text-center">
    <span class="footer-text position-relative">
        <span *ngIf="signUpForm.valid" [@slideInOut]>
            By registering, you agree to Prate's <a href="#" (click)="openTermsModal()">Terms of Use</a> and <a href="#"
                (click)="openPrivacyPolicyModal()">Privacy Policy</a>.<br />
        </span>
        <span *ngIf="!signUpForm.valid" [@slideInOut]>
            Your chat data is not stored/shared and Prate will never email you.<br />
        </span>
    </span>
</div>