<div class="wrapper">

    <prt-header [selectedTab]="'SUMMARY'"></prt-header>

    <div class="row no-pad-margin text-center footer-pad">
        <div class="col-12">

            <!-- Why Prate? -->
            <div class="row">
                <div class="col-lg-4 offset-lg-4 col-sm-12">
                    <img class="img-fluid page-heading" src="../../assets/images/prt-icon.png" />
                </div>
            </div>

            <div class="row summary-container">
                <div class="col-lg-6 col-sm-12 offset-lg-3">
                    <div class="heading">Why Prate?</div>
                    <div class="summary-message-container mx-auto">
                        <div class="summary-message">Prate is free chat application for people who want to be
                            matched with others based on their
                            topic of interest. We enable our visitors to connect with those they wouldn't
                            otherwise meet in the real
                            world. Our goal is to encourage our users to build short or even
                            long-lasting friendships through sharing
                            experiences, values, and knowledge. <br /> <br />

                            It’s our responsibility to simplify meeting new people easily with the press of one button.
                        </div>
                    </div>
                </div>
            </div>

            <!-- Matching -->
            <div class="row summary-container">
                <div class="col-lg-3 col-sm-8 offset-lg-3 offset-sm-2 text-left">
                    <div class="sub-heading">Interest Based Matching</div>
                    <hr />
                    <div class="summary-message-container mx-auto">
                        <div class="summary-message">Users will be matched with someone
                            they can relate to, or you can just match randomly to chat with anyone! Not liking your
                            match? You can leave your chat anytime
                            and match with a another user. Our services allow for easy, seamless chatting across
                            multiple platforms. <br /> <br /> Prate doesn't discriminate!
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-8 offset-sm-2 offset-lg-0">
                    <div class="illustration-img-container">
                        <img src="../../../assets/images/whyprate-matched.jpg" class="img-fluid illustration-img"
                            (mouseenter)="fadeMatchIcon = true" (mouseleave)="fadeMatchIcon = false">
                        <i class="fas fa-user-check summary-icon"
                            [ngClass]="{'fade-out-summary-icon' : fadeMatchIcon === true}"></i>
                    </div>
                </div>
            </div>

            <!-- Customization -->
            <div class="row summary-container">
                <div class="col-lg-3 offset-lg-3 d-none d-lg-block">
                    <div class="illustration-img-container">
                        <img src="../../../assets/images/why-prate-customization.jpg" class="img-fluid illustration-img"
                            (mouseenter)="fadeCustomIcon = true" (mouseleave)="fadeCustomIcon = false">
                        <i class="fas fa-edit summary-icon"
                            [ngClass]="{'fade-out-summary-icon' : fadeCustomIcon === true}"></i>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-8 offset-sm-2 text-left offset-lg-0">
                    <div class="sub-heading">Customization</div>
                    <hr />
                    <div class="summary-message-container mx-auto">
                        <div class="summary-message">Customize several aspects of your chatting experience. Change
                            your display name, avatar, text color, bubble color, and font face easily with our user
                            settings management.
                            We even allow custom chat layout options. It's easy to be an individual on Prate and
                            separate yourself from the
                            rest.
                        </div>
                    </div>
                </div>

                <div class="col-sm-8 offset-sm-2 d-xs-block d-sm-block d-sm-block d-lg-none d-xl-none">
                    <img src="../../../assets/images/why-prate-customization.jpg" class="img-fluid illustration-img"
                        (mouseenter)="fadeCustomIcon = true" (mouseleave)="fadeCustomIcon = false">
                    <i class="fas fa-edit summary-icon"
                        [ngClass]="{'fade-out-summary-icon' : fadeCustomIcon === true}"></i>
                </div>
            </div>

            <!-- Progression -->
            <div class="row summary-container">
                <div class="col-lg-3 col-sm-8 offset-lg-3 offset-sm-2 text-left offset-lg-0">
                    <div class="sub-heading">Progression</div>
                    <hr />
                    <div class="summary-message-container mx-auto">
                        <div class="summary-message">Using Prate's leveling progression system, you can easily rank up
                            and earn rewards to show
                            off to your matches. Your chatting experience is reflected to other users so they know you
                            know what you're
                            doing. All of your chatting experience means something, and your time is never wasted.
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-8 offset-sm-2 offset-lg-0">
                    <div class="illustration-img-container">
                        <img src="../../../assets/images/whyprate-progression.jpg" class="img-fluid illustration-img"
                            (mouseenter)="fadeProgIcon = true" (mouseleave)="fadeProgIcon = false">
                        <i class="fas fa-chart-line summary-icon"
                            [ngClass]="{'fade-out-summary-icon' : fadeProgIcon === true}"></i>
                    </div>
                </div>
            </div>

            <!-- Features -->
            <div class="row summary-container">
                <div class="col-12">
                    <div class="heading">The Features</div>
                </div>
            </div>

            <!-- Youtube -->
            <div class="row summary-container">
                <div class="col-lg-3 col-sm-8 offset-lg-3 offset-sm-2 text-left">
                    <div class="sub-heading">Watch YouTube Together</div>
                    <hr />
                    <div class="summary-message-container mx-auto">
                        <div class="summary-message">Watch synced up YouTube videos together while chatting and controlling the video together!
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-8 offset-sm-2 offset-lg-0">
                    <div class="illustration-img-container">
                        <img src="../../../assets/images/yt-share-feature.png" class="img-fluid illustration-img">
                    </div>
                </div>
            </div>

            <!-- Games -->
            <div class="row summary-container">
                <div class="col-lg-3 offset-lg-3 d-none d-lg-block">
                    <div class="illustration-img-container">
                        <img src="../../../assets/images/game-feature.png"
                            class="img-fluid illustration-img">
                    </div>
                </div>

                <div class="col-lg-3 col-sm-8 offset-sm-2 text-left offset-lg-0">
                    <div class="sub-heading">Play Games Together</div>
                    <hr />
                    <div class="summary-message-container mx-auto">
                        <div class="summary-message">Prate provides a selection of simple one versus one games that you may invite your match to at anytime during your chat.
                        </div>
                    </div>
                </div>

                <div class="col-sm-8 offset-sm-2 d-xs-block d-sm-block d-sm-block d-lg-none d-xl-none">
                    <img src="../../../assets/images/game-feature.png" class="img-fluid illustration-img">
                </div>
            </div>

            <!-- Friendlist -->
            <div class="row summary-container">
                <div class="col-lg-3 col-sm-8 offset-lg-3 offset-sm-2 text-left offset-lg-0">
                    <div class="sub-heading">Add your Matches as Friends</div>
                    <hr />
                    <div class="summary-message-container mx-auto">
                        <div class="summary-message">Really enjoyed your match? Add them as a friend and message them anytime to continue to build your friendship with them.
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-8 offset-sm-2 offset-lg-0">
                    <div class="illustration-img-container">
                        <img src="../../../assets/images/friendlist-feature.png" class="img-fluid illustration-img">
                    </div>
                </div>
            </div>


            <div class="row summary-container">
                <div class="col-12">
                    <div class="sub-heading">and much more...<span class="cursor-pointer sub-heading-link" (click)="openSignUpModal()">Sign up now!</span></div>
                </div>
            </div>
        </div>
    </div>
</div>

<prt-footer></prt-footer>