<div class="wrapper h-100">

    <prt-header [selectedTab]="'DOWNLOAD'"></prt-header>

    <div class="row no-pad-margin text-center v-center-content">
        <div class="col-12 my-auto">
            <div class="heading">Chat from your desktop.</div>
            <div class="sub-heading">Easily connect with people without the hassle of a browser.</div>

            <button class="btn open-btn" (click)="openComingSoon()"><i class="fab fa-windows"></i>&nbsp;
                Windows</button> &nbsp;&nbsp;
            <button class="btn open-btn" (click)="openComingSoon()"><i class="fab fa-apple"></i>&nbsp; Mac</button>
        </div>
    </div>

</div>
<prt-footer></prt-footer>
