@import "../utils/variables";

// Default
.modal-header {
    background-color: $GRAY_BLUE;
    border-bottom: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

    .modal-title {
        margin-top: 20px;
        margin-bottom: 20px;
        color: $WHITE;
        font-size: 18px;
    }
}

.modal-body {
    background-color: $WHITE_BLUE;
}

.modal-footer {
    background-color: $WHITE_BLUE;
    border-top: 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    justify-content: center;
}

.modal-close-btn {
    color: $PRIMARY;
    position: absolute;
    right: 13px;
    top: 10px;
    font-size: 20px;

    &:hover {
        color: $WHITE;
    }
}

// Blue Modals
.modal-blue-header {
    background-color: $PRIMARY;
    border-bottom: 0;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;

    .modal-prt-logo {
        height: 50%;
        width: 50%;
    }
}

.modal-blue-body {
    background-color: $PRIMARY;
}

.modal-blue-footer {
    background-color: $PRIMARY;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    justify-content: center;
    padding: 20px 0px 20px 0px;

    a {
        color: #666666;
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }

    .modal-footer-text {
        font-size: 14px;
        padding-bottom: 5px;
        font-weight: 500;
    }
}

.modal-blue-close-btn {
    color: rgba(255, 255, 255, 0.7);
    position: absolute;
    right: 18px;
    top: 10px;
    font-size: 20px;

    &:hover {
        color: $WHITE;
    }
}

// Forms
.modal-text-area {
    height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 2%;
}

.modal-text-input {
    border-radius: 10px;
    height: 50px;
    font-size: 18px;
    font-weight: 500;
    color: #666666;
    margin-left: 20px;
    margin-right: 20px;
}

// Animations
@keyframes modal-b-fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.5;
    }
}

@keyframes modal-fade {
    from {
        top: -100px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

/* .modal-backdrop {
    opacity: 0.5;
    animation: ease-in-out .25s modal-b-fade;
    transition: all .25s ease-in-out;
} */

.modal-holder {
    animation: ease-in-out 0.25s modal-fade;
    transition: all 0.25s ease-in-out;
}
