.light-icon-img {
    filter: brightness(100%);
    transition: 0.5s;

    &:hover {
        filter: brightness(130%);
        transition: 0.5s;
    }
}

.dark-icon-img {
    filter: brightness(110%);
    transition: 0.5s;

    &:hover {
        filter: brightness(175%);
        transition: 0.5s;
    }
}

.light-pop-container {
    background-color: $GRAY_FOUR !important;
    color: $TEXT_PRIMARY !important;
}

.dark-pop-container {
    background-color: $BLACK_GRAY !important;
    color: $GRAY_FOUR !important;
}

.light-general-colors {
    background-color: $WHITE_BLUE !important;
    color: $BLACK !important;
}

.dark-general-colors {
    background-color: $BLACK_GRAY !important;
    color: $GRAY_THREE !important;
}

.light-message-input {
    background-color: $GRAY_FIVE !important;
    color: $BLACK !important;
}

.dark-message-input {
    background-color: $BLACK_GRAY !important;
    color: $GRAY_THREE !important;
}

.light-theme-status-msg {
    color: $TEXT_PRIMARY;
}

.dark-theme-status-msg {
    color: $GRAY_THREE;
}