<!-- Modal Header -->
<div class="modal-header no-pad-margin">
    <div class="container friend-requests-header">
        <div class="row">
            <div class="col-12 my-auto text-center">
                {{ user.friend_requests.length }} Friend Request(s)
            </div>
        </div>
    </div>
    <i class="fas fa-times cursor-pointer close-btn" (click)="activeModal.dismiss()"></i>
</div>
<!-- Modal Body -->
<div class="container modal-body">
    <div class="row no-pad-margin">
        <div class="col-12 text-center alert-messages" *ngIf="messages.length > 0">
            <prt-alert-messages [messages]="messages"></prt-alert-messages>
        </div>

        <div class="col-12 fr-col" *ngIf="user.friend_requests.length === 0">
            <span>No new friend requests</span>
        </div>

        <div class="col-12 fr-col">
            <table class="table table-striped table-borderless">
                <thead>
                    <tr>
                        <th class="w-15"></th>
                        <th class="w-65"></th>
                        <th class="w-20"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let f of friends" class="fr-trs">
                        <td class="text-center"><img src="../../../../../assets/images/avatars/{{f.avatar}}"
                                class="img-fluid user-icon" /></td>
                        <td class="text-left"><strong>{{ f.name }}</strong></td>
                        <td class="text-right action-btns">
                            <div class="action-box green cursor-pointer" (click)="acceptFriendRequest(f.id)">
                                <i class="fas fa-check"></i>
                            </div>

                            <div class="action-box red cursor-pointer" (click)="denyFriendRequest(f.id)">
                                <i class="fas fa-times"></i>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Modal Footer -->
<div class="modal-footer text-center no-pad-margin">
    <span></span>
</div>