a {
    color: #666766
}

.menu-logo-sm {
    height: 40px;
    width: 40px;
    float: right;
}

.nav-icon {
    position: relative;
    top: -5px;
}

.login-link-div {
    border: 5px solid #00AFF0;
    border-radius: 25px;
    margin-top: 8px;
    font-size: 20px;
    font-weight: 600;
    padding: 0px 23px 5px 23px;
}

nav {
    display: inline-block;
}

@media (min-width: 344px) {
    .active {}

    .header-container {
        height: 50px;
        padding: 5px;
    }
    .nav-items {
        position: absolute;
        background-color: #eee;
        z-index: 1;
        padding: 15px;
        box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.2);
        margin-left: 27px;
        border-radius: 5px;
    }
    .header-link {
        padding: 0;
    }
    a:hover {
        text-decoration: none;
    }
}

@media (min-width: 992px) {
    .nav-items {
        background-color: #fff;
        position: relative;
        padding: 0;
        box-shadow: none;
        margin-left: 0;
    }
    .header-container {
        height: 162px;
        padding: 40px 80px 40px 80px;
    }
    .header-link {
        font-size: 18px;
        font-weight: 600;
        padding-left: 50px;
        position: relative;
        top: -8px;
    }
    .header-link:hover>a {
        color: #ffffff;
        text-decoration: none;
        transition: .5s;
        text-shadow: 0 0 10px #00AFF0, 0 0 10px #00AFF0;
    }
    .active {
        color: #ffffff;
        text-decoration: none;
        transition: .5s;
        text-shadow: 0 0 10px #00AFF0, 0 0 10px #00AFF0;
    }
    .active > a {
        color: #ffffff;
    }
}