<div class="matching-mask" *ngIf="matching">
    <div class="matching-animation-container">
        <img src="../../assets/images/prate-matching-animation.gif" />
        <br />
        <button class="btn matching-btn" for="matching-button" (click)="cancelMatching()">CANCEL</button>
    </div>
</div>

<div class="matching-mask" *ngIf="matchFoundAnimation">
    <div class="matching-animation-container">
        <img src="../../assets/images/prate-matched-animation.gif" />
    </div>
</div>

<div class="matching-mask" *ngIf="matchedWithOverlay">
    <div class="matching-animation-container">
        <img src="../../assets/images/prate-matchedwith-background.png" />

        <div class="matched-info-dialog-text text-center">
            <img src="../../assets/images/prate-match-info-animation.gif" />
            <br />
            Matched with <br /><strong style="color: #00AFF0;">{{ partner.name }}</strong><br /><br />
            Based on:<br /> {{ partner.matchedBasedOn | interestFormat }}
        </div>

        <button class="btn matching-btn" for="matching-button" (click)="approveMatch()">SAY HI!</button>
    </div>
</div>

<div class="matching-mask" *ngIf="chatFinishedOverlay">
    <div class="matching-animation-container">
        <img src="../../assets/images/prate-matchedwith-background.png" />

        <div class="match-finished-info-dialog-text text-center">
            <div>
                <img src="../../assets/images/prate-match-info-animation.gif" />
                <br />
                <strong style="color: #00AFF0;">{{ this.partnerLeftName }}</strong><br />
                {{ this.leaveMessage }}
            </div>

            <div style="font-size: 12px;" [ngStyle]="{'padding-top': rankUpMessage ? '12px' : '35px'}"
                [innerHTML]="expMessage"></div>
            <div style="font-size: 12px; padding-top: 10px;" [innerHTML]="rankUpMessage" *ngIf="rankUpMessage"></div>
        </div>

        <button class="btn matching-btn" for="matching-button" (click)="approveChatFinished()">OK</button>
    </div>
</div>

<!-- <div class="match-info-dialog" *ngIf="partner" [ngClass]="{'fade-out': chatTimer >= 10}">

</div> -->
<div class="dark-theme" *ngIf="user && user.color_theme === 'dark'"></div>

<div class="container-fluid h-100">

    <div class="row header">
        <div class="col-lg-8 col-2 my-auto">
            <div class="float-left text-center">
                <img class="menu-logo cursor-pointer" (click)="goToHome();" src="../../assets/images/prt-icon.png" />
            </div>
            <!-- Desktop buttons -->
            <button class="btn match-btn-lg" for="match-button" (click)="searchForMatch()"
                *ngIf="!partner && !matching">FIND A MATCH!</button>
            <button class="btn match-btn-lg" for="match-button" (click)="disconnect()" *ngIf="partner">LEAVE
                CHAT</button>
        </div>

        <!-- Mobile buttons -->
        <div class="col-lg-1 col-8 text-center my-auto mx-auto">
            <button class="btn match-btn-sm" for="match-button" (click)="searchForMatch()"
                *ngIf="!partner && !matching">FIND A MATCH!</button>
            <button class="btn match-btn-sm" for="match-button" (click)="disconnect()" *ngIf="partner">LEAVE
                CHAT</button>
        </div>

        <div class="col-lg-3 col-2 my-auto">
            <prt-user-info-panel></prt-user-info-panel>
        </div>
    </div>

    <div class="row chat-area">
        <prt-youtube-player [height]="100" [width]="100" [playState]="ytPlayState" [muteState]="ytMuteState"
            [videoUrl]="ytUrl">
        </prt-youtube-player>
        <prt-game-container *ngIf="gameUrl" [gameUrl]="gameUrl" [gameType]="gameType" [gameAccepted]="gameAccepted"
            (canceled)="closeGame($event)" (inviteSent)="sendGameInvite($event)" (gameClosed)="gameSessionClosed($event)"></prt-game-container>
        <div class="col-12 no-pad-margin">
            <div class="chat-messages" id="chatMessages" (scroll)="chatScrolled()">
                <div *ngFor="let m of chatMessages" (resized)="checkForAutoScroll()">
                    <div class="position-relative" [hidden]="hideBubbles"
                        [ngClass]="{ 'text-right': m.type === 'sent' && user.bubble_layout === 'alternating' }">
                        <div [ngClass]="{ 'right-bubble': m.type === 'sent' && user.bubble_layout === 'alternating', 
                        'left-bubble': m.type === 'received' || user.bubble_layout === 'all_left' }" [ngStyle]="{'background-color': m.type === 'sent' ? '#' + user.bubble_color : '#' + partner.bubble_color,
                                    'color': m.type === 'sent' ? '#' + user.font_color : '#' + partner.font_color }">
                            <div class="float-left" *ngIf="user.show_avatars">
                                <div class="position-relative">
                                    <img [src]="m.type === 'sent' ? '../../../assets/images/avatars/' + user.avatar : '../../../assets/images/avatars/' + partner.avatar"
                                        class="user-icon cursor-pointer"
                                        (click)="openViewUserProfile(m.type, user.id, partner.id)">
                                    <img [src]="m.type === 'sent' ? '../../../assets/images/badges/' + user.levelInfo.badge : '../../../assets/images/badges/' + partner.levelInfo.badge"
                                        class="user-badge cursor-pointer"
                                        (click)="openViewUserProfile(m.type, user.id, partner.id)">
                                </div>
                            </div>
                            <div [ngStyle]="{'margin-left': user.show_avatars ? '65px' : '0px' }">
                                <div class="float-left message-user"><span class="cursor-pointer"
                                        (click)="openViewUserProfile(m.type, user.id, partner.id)">{{ m.sender }}</span>
                                </div>

                                <br />
                                <span [innerHTML]="m.message"
                                    [ngStyle]="{'font-family': m.type === 'sent' ? user.font_face : partner.font_face }"></span>
                                <br />

                                <div class="float-right message-time">
                                    <span *ngIf="m.type === 'sent'">Sent</span>
                                    <span *ngIf="m.type === 'received'">Received</span>

                                    {{ m.datetime }}
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="user-is-typing" [hidden]="!partnerIsTyping" *ngIf="user && !ytUrl"
                [ngStyle]="{'color': user.color_theme === 'dark' ? '#eeeeee' : '#666666' }">
                <span *ngIf="partner">{{ partner.name }} is typing...</span>
            </div>

            <div class="user-is-typing yt-typing" [hidden]="!partnerIsTyping" *ngIf="user && ytUrl">
                <span *ngIf="partner">{{ partner.name }} is typing...</span>
            </div>

            <div class="return-to-bottom" [hidden]="autoScroll" *ngIf="user"
                [ngStyle]="{'color': user.color_theme === 'dark' ? '#eeeeee' : '#666666'}">
                <i class="fas fa-chevron-down cursor-pointer" (click)="returnToBottom()"></i>
            </div>

            <div class="user-warning-msg" [hidden]="!statusMessage" *ngIf="user"
                [ngStyle]="{'color': user.color_theme === 'dark' ? '#eeeeee' : '#666666'}">
                {{ statusMessage }}
            </div>

            <div class="yt-play-controls" *ngIf="ytUrl">
                <div class="col-12">
                    <i class="fas cursor-pointer" [ngClass]="{'fa-play': !ytPlayState, 'fa-pause': ytPlayState}"
                        ngbTooltip="Toggle Play/Pause" placement="top" container="body"
                        style="position: relative; top: 1px; left: 6px;"
                        (click)="toggleOuterAppFunction('yt', 'playpause')"></i>
                    &nbsp;
                    <i class="fas cursor-pointer"
                        [ngClass]="{'fa-volume-up': !ytMuteState, 'fa-volume-mute': ytMuteState}"
                        ngbTooltip="Toggle Mute/Un-Mute" placement="top" container="body"
                        style="position: relative; top: 1px; left: 6px;"
                        (click)="toggleOuterAppFunction('yt', 'muteunmute')"></i>
                    &nbsp;
                    <i class="fas cursor-pointer"
                        [ngClass]="{'fa-comment': !hideBubbles, 'fa-comment-slash': hideBubbles}"
                        ngbTooltip="Hide/Show Bubbles" placement="top" container="body"
                        style="position: relative; top: 1px; left: 6px;" (click)="toggleBubbles();"></i>
                    &nbsp;
                    <i class="fas fas fa-times cursor-pointer" ngbTooltip="Close Video" placement="top" container="body"
                        style="position: relative; top: 1px; left: 6px;"
                        (click)="toggleOuterAppFunction('yt', 'close')"></i>
                </div>
            </div>

            <form (ngSubmit)="sendMessage()" [formGroup]="messageForm" (keydown.enter)="sendMessage()" novalidate
                autocomplete="off">
                <div class="align-bottom">
                    <input type="text" class="message-input" id="messageInput" placeholder="Type something to send. . ."
                        formControlName="message" (keypress)="listenForUserTyping()" #messageInput
                        [ngStyle]="{'background-color': user.color_theme === 'dark' ? '#111111' : 'rgb(228, 230, 228)', 'color': user.color_theme === 'dark' ? '#eeeeee' : '#000000'}"
                        *ngIf="user">


                    <div class="game-btn-container cursor-pointer"
                        (offClick)="!hideGames ? hideGames = !hideGames : hideGames"><img
                            src="../../assets/images/game-send.png" class="game-btn" title="Games"
                            (click)="hideGames = !hideGames" *ngIf="user"
                            [ngStyle]="{'filter': user.color_theme === 'dark' ? 'brightness(110%)' : 'brightness(100%)'}">

                        <div *ngIf="user" class="game-container" [hidden]="hideGames"
                            [ngStyle]="{'background-color': user.color_theme === 'dark' ? '#111111' : '#efefef', 'color': user.color_theme === 'dark' ? '#efefef' : '#666666'}">
                            <div class="row text-center no-pad-margin">
                                <div class="col-4 no-pad-margin game-icon-container">
                                    <i class="fas fa-paint-brush cursor-pointer" ngbTooltip="Drawing | gartic.io"
                                        placement="top" container="body" (click)="prepareGameInvite('gartic')"></i>
                                </div>

                                <div class="col-4 no-pad-margin game-icon-container">
                                    <i class="fas fa-chess-pawn cursor-pointer" ngbTooltip="Chess | chess.org"
                                        placement="top" container="body" (click)="prepareGameInvite('chess')"></i>
                                </div>

                                <div class="col-4 no-pad-margin game-icon-container">
                                    <i class="fab fa-slack-hash cursor-pointer"
                                        ngbTooltip="TicTacToe | ultimate-t3.herokuapp.com" placement="top"
                                        container="body" (click)="prepareGameInvite('tictactoe')"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="yt-ctrl-btn-container cursor-pointer"
                        (offClick)="!hideYtInvControls ? hideYtInvControls = !hideYtInvControls : hideYtInvControls">
                        <img src="../../assets/images/yt-send.png" class="yt-ctrl-btn" title="YouTube Share"
                            (click)="hideYtInvControls = !hideYtInvControls" *ngIf="!ytUrl && user"
                            [ngStyle]="{'filter': user.color_theme === 'dark' ? 'brightness(110%)' : 'brightness(100%)'}">
                        <div class="yt-ctrl-container" [hidden]="hideYtInvControls">
                            <div class="row text-center no-pad-margin">
                                <div class="col-9 no-pad-margin">
                                    <input type="text" class="yt-send-input" ngbTooltip="Paste YouTube Link"
                                        placement="top" container="body" [(ngModel)]="inviteLink"
                                        [ngModelOptions]="{standalone: true}">
                                </div>
                                <div class="col-3"><i class="fas fa-paper-plane cursor-pointer" ngbTooltip="Send Invite"
                                        placement="top" container="body"
                                        style="position: relative; top: 1px; left: 6px;"
                                        (click)="sendOuterAppInvite('yt')"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="emoji-btn-container cursor-pointer"
                        (offClick)="!hideEmojis ? hideEmojis = !hideEmojis : hideEmojis"><img
                            src="../../assets/images/emoji-send.png" class="emoji-btn" title="Emojis"
                            (click)="hideEmojis = !hideEmojis" *ngIf="user"
                            [ngStyle]="{'filter': user.color_theme === 'dark' ? 'brightness(110%)' : 'brightness(100%)'}">

                        <div *ngIf="user" class="emoji-container" [hidden]="hideEmojis"
                            [ngStyle]="{'background': user.color_theme === 'dark' ? '#111111' : '#efefef'}">
                            <div class="row text-center no-pad-margin">
                                <div class="col-3 no-pad-margin emoji-icon-container" *ngFor="let e of emojis">
                                    <img src="../../assets/images/emojis/{{e.img}}" class="emoji-icon cursor-pointer"
                                        ngbTooltip="{{e.code}}" placement="top" container="body"
                                        (click)="insertEmoji(e.code)" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="send-btn-container cursor-pointer" (click)="sendMessage()"><img
                            src="../../assets/images/prt-send.png" title="Send Message" *ngIf="user"
                            [ngStyle]="{'filter': user.color_theme === 'dark' ? 'brightness(110%)' : 'brightness(100%)'}">
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>