<div class="container-fluid h-100">

    <div class="row header">
        <div class="col-lg-8 col-2 my-auto">
            <div class="float-left text-center">
                <img class="menu-logo" src="../../assets/images/prt-icon.png" />
            </div>
            <button class="btn match-btn-lg" for="match-button">FIND A MATCH!</button>

        </div>

        <div class="col-lg-1 col-8 text-center my-auto mx-auto">
            <button class="btn match-btn-sm" for="match-button">FIND A MATCH!</button>
        </div>

        <div class="col-lg-3 col-2 my-auto">
            <prt-user-info-panel></prt-user-info-panel>
        </div>
    </div>

    <div class="row chat-area">
        <div class="col-12 no-pad-margin">
            <div class="chat-messages">

                <div class="text-right position-relative">
                    <div class="sent-bubble">
                        <div class="float-left message-user">Someguy</div>

                        <br />
                        Hey, What's up?ddddddddddddd
                        Hey, What's up?ddddddddddddd
                        Hey, What's up?ddddddddddddd
                        Hey, What's up?ddddddddddddd
                        <br />

                        <div class="float-right message-time">Sent 5:20 pm</div>
                    </div>
                </div>

                <div class="position-relative">
                    <div class="rec-bubble">
                        <div class="float-left message-user">Someone Else</div>

                        <br />
                        Not much, how you been?
                        Not much, how you been?
                        Not much, how you been?
                        Not much, how you been?
                        Not much, how you been?
                        <br />

                        <div class="float-right message-time">Received 5:21 pm</div>
                    </div>
                </div>
            </div>

            <div class="align-bottom">
                <input type="text" class="message-input" placeholder="Type something to send. . ." />
                <div class="send-btn-container cursor-pointer" (click)="sendMessage()"><img
                        src="../../assets/images/prt-send.png"></div>
            </div>
        </div>
    </div>

</div>