.menu-logo {
    height: 60px;
    width: 75px;
    margin-left: -5px;
}

.match-btn-lg {
    font-size: 20px;
    font-weight: 600;
    border-radius: 7px;
    margin-top: 10px;
    margin-left: 15px;
    padding: 5px 35px 5px 35px;
}

.match-btn-sm {
    font-size: 20px;
    font-weight: 600;
    border-radius: 7px;
    padding: 5px 10px 5px 10px;
}

.header {
    background-color: rgb(33, 37, 43);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 1);
    position: relative;
    z-index: 900;
    height: 82px;
}

.btn:active {
    animation-name: buttonsmash;
    animation-duration: 2s;
}

@keyframes buttonsmash {
    from {
        box-shadow: inset 0px 2px 10px 0px rgba(0, 0, 0, 1);
    }
    to {
        box-shadow: none;
    }
}

.chat-area {
    background-image: url("../../assets/images/prt-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 899;
    height: calc(100% - 82px);
}

.message-input {
    width: 100%;
    border-radius: 10px;
    font-size: 16px;
    border: 0px;
    background-color: #CBCCCB;
    height: 40px;
    padding-left: 10px;
    box-shadow: inset 0px 2px 7px 0px rgba(0, 0, 0, .5);
}

.chat-messages {
    max-height: calc(100% - 60px);
    width: 100%;
    overflow-x: auto;
    position: absolute;
    bottom: 60px;
}

.align-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px 20px 20px 20px;
}

.sent-bubble {
    background: #efefef;
    /* border: 1px solid #a7a7a7; */
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 2px 4px 10px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 2px 4px 10px 0 rgba(0, 0, 0, 0.2);
    font-size: 1.2rem;
    line-height: 1.3;
    margin-left: 40px;
    margin-right: 0;
    margin-bottom: 40px;
    max-width: 400px;
    padding: 15px;
    position: relative;
}

.rec-bubble {
    background: #efefef;
    /* border: 1px solid #a7a7a7; */
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 2px 4px 10px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 2px 4px 10px 0 rgba(0, 0, 0, 0.2);
    font-size: 1.2rem;
    line-height: 1.3;
    margin-left: auto;
    margin-right: 0;
    margin-bottom: 40px;
    max-width: 400px;
    padding: 15px;
    position: relative;
    left: -30px;
}

/* .speech-bubble-ds-arrow {
    border-right: 21px solid transparent;
    bottom: -25px;
    position: absolute;
    right: 215px;
}

.speech-bubble-ds-arrow::before {
    border-right: 23px solid transparent;
    border-top: 23px solid #a7a7a7;
    bottom: 2px;
    content: "";
    position: absolute;
    right: 5px;
}

.speech-bubble-ds-arrow::after {
    border-right: 21px solid transparent;
    border-top: 21px solid #efefef;
    bottom: 4px;
    content: "";
    position: absolute;
    right: 6px;
} */

@media (min-width: 344px) {
    .match-btn-sm {
        display: inline-block;
    }

    .match-btn-lg {
        display: none;
    }
}

@media (min-width: 992px) {
    .match-btn-lg {
        display: inline-block;
    }

    .match-btn-sm {
        display: none;
    }
}