<div class="matching-mask" *ngIf="matching">
    <img src="../../assets/images/prate-matching-animation.gif" class="matching-animation-img" />
</div>

<div class="container-fluid h-100">

    <div class="row header">
        <div class="col-lg-8 col-2 my-auto">
            <div class="float-left text-center">
                <img class="menu-logo" src="../../assets/images/prt-icon.png" />
            </div>
            <button class="btn match-btn-lg" for="match-button" (click)="searchForMatch()"
                *ngIf="!partner && !matching">FIND A MATCH!</button>

        </div>

        <div class="col-lg-1 col-8 text-center my-auto mx-auto">
            <button class="btn match-btn-sm" for="match-button" (click)="searchForMatch()"
                *ngIf="!partner && !matching">FIND A MATCH!</button>
        </div>

        <div class="col-lg-3 col-2 my-auto">
            <prt-user-info-panel></prt-user-info-panel>
        </div>
    </div>

    <div class="row chat-area">
        <div class="col-12 no-pad-margin">
            <div class="chat-messages" id="chatMessages" (scroll)="chatScrolled()">
                <div *ngFor="let m of chatMessages" (resized)="checkForAutoScroll()">
                    <div class="position-relative" [ngClass]="{ 'text-right': m.type === 'sent' }">
                        <div [ngClass]="{ 'sent-bubble': m.type === 'sent', 'rec-bubble': m.type === 'received' }">
                            <div class="float-left message-user">{{ m.sender }}</div>


                            <br />
                            {{ m.message }}
                            <br />

                            <div class="float-right message-time">
                                <span *ngIf="m.type === 'sent'">Sent</span>
                                <span *ngIf="m.type === 'received'">Received</span>

                                {{ m.datetime }}</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="user-is-typing" [hidden]="!partnerIsTyping">
                <span *ngIf="partner">{{ partner.name }} is typing...</span>
            </div>

            <form (ngSubmit)="sendMessage()" [formGroup]="messageForm" novalidate>
                <div class="align-bottom">
                    <input type="text" class="message-input" id="messageInput" placeholder="Type something to send. . ."
                        formControlName="message" (input)="listenForUserTyping()">
                    <div class="send-btn-container cursor-pointer" (click)="sendMessage()"><img
                            src="../../assets/images/prt-send.png"></div>
                </div>
            </form>
        </div>
    </div>

</div>