.modal-header {
    background-color: #00AFF0;
    border-bottom: 0;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    padding-top: 100px;
}

.modal-body {
    background-color: #00AFF0;
    padding-top: 0;
    padding-bottom: 0;
}

.modal-footer {
    background-color: #00AFF0;
    border-top: 0;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    padding-top: 0;
    justify-content: center;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 100px;
}

.close-btn {
    color: rgba(255, 255, 255, .7);
    position: absolute;
    right: 18px;
    top: 10px;
    font-size: 20px;
}

.close-btn:hover {
    color: #ffffff;
}

.prt-icon {
    height: 50%;
    width: 50%;
}
