<div class="modal-header no-pad-margin">
        <img src="../../assets/images/prt-icon-white.png" class="img-fluid mx-auto prt-icon" />
        <i class="fas fa-times cursor-pointer close-btn" (click)="activeModal.dismiss()"></i>
    </div>
    <div class="container modal-body">
        <div class="row">
            <div class="col-12 text-center">
        <prt-alert-messages [messages]="messages"></prt-alert-messages>
    
                <form (ngSubmit)="createUser()" [formGroup]="loginForm" novalidate>
                    <div class="form-group position-relative">
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <input type="text" class="form-control text-input" formControlName="email" name="email" id="email"
                                    spellcheck="false" autocomplete="off" placeholder="Email" />
                            </div>
                        </div>
                    </div>
    
                    <div class="form-group position-relative">
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <input type="password" class="form-control text-input" formControlName="password"
                                    placeholder="Password" />
                            </div>
                        </div>
                    </div>
    
                    <div class="form-group text-center">
                        <input type="submit" value="LOGIN" class="submit-btn cursor-pointer" />
                    </div>
                </form>
    
            </div>
        </div>
    </div>
    <div class="modal-footer text-center">
    </div>