.form-control-feedback {
    font-size: 22px;
    color: lightcoral;
}

.checkmark {
    font-size: 22px;
    color: #00bf00;
}

.checkmark, .form-control-feedback  {
    position: absolute;
    z-index: 50;
    right: 50px;
    top: 16%;
}