<!-- Modal Header -->
<div class="modal-header no-pad-margin" *ngIf="userBeingViewed">
    <div class="container modal-title">
        <div class="row">
            <div class="col-12 my-auto text-center user-icon-container">
                <div class="user-icon-content">
                    <img src="../../../assets/images/avatars/{{userBeingViewed.avatar}}" class="user-icon">

                    <img src="../../../assets/images/badges/{{userBeingViewed.levelInfo.badge}}" class="user-badge">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center user-info-container">
                <div>
                    <span class="username">{{ userBeingViewed.name }}</span>
                </div>
                <div>
                    <span class="user-level">{{ userBeingViewed.levelInfo.rank }} - Level
                        {{ userBeingViewed.levelInfo.level }}</span>
                </div>

                <div>
                    <span class="user-time-spent">Chat time:
                        {{ (userBeingViewed.experience / 60 / 60).toFixed(0) }} hours</span>
                </div>


            </div>
        </div>
    </div>

    <i class="fas fa-times cursor-pointer modal-close-btn" (click)="activeModal.dismiss()"></i>
</div>
<!-- Modal Body -->
<div class="container modal-body no-pad-margin" *ngIf="userBeingViewed">
    <div class="row no-pad-margin">
        <div class="col-12 user-bio">
            <div class="bio-title"><strong><i class="fas fa-id-card"></i>&nbsp; Bio</strong></div>
            <span *ngIf="!userBeingViewed.bio">{{ userBeingViewed.name }} has not set up their bio.</span>
            <span *ngIf="userBeingViewed.bio">{{userBeingViewed.bio}}</span>
        </div>

        <div class="col-12 user-interests">
            <div class="interests-title"><strong>Interests</strong></div>
            <span *ngIf="userBeingViewed.interests.length === 0">No interests</span>
            <span *ngIf="userBeingViewed.interests.length > 0">
                <span *ngFor="let interest of userBeingViewed.interests" class="interest-tag">
                    <strong>{{ interest | titlecase }}</strong>
                </span>
            </span>
        </div>

        <div class="col-12 friend-requests" *ngIf="currentUser.id !== userBeingViewedId">
            <button class="btn friend-request-btn" (click)="sendFriendRequest()" *ngIf="!friendReqMessage">Send Friend
                Request</button>
            <span *ngIf="friendReqMessage" class="friend-req-message"><i>{{ friendReqMessage }}</i></span>
        </div>
    </div>
</div>
<!-- Modal Footer-->
<div class="modal-footer text-center no-pad-margin">
    <br />
</div>