@import "../../../../assets/scss/utils/variables";

.user-icon-container {
    padding-right: 10px;
    position: relative;
    height: 55px;

    .user-icon {
        top: 2px;
    }

    .user-badge {
        bottom: -2px;
    }
}

.modal-body {
    background-color: $GRAY_BLUE;
    padding-bottom: 0;

    .user-info-container {
        .username {
            margin-top: 5px;
        }
    }

    .user-bio {
        padding-left: 20px;
        padding-right: 20px;
        font-size: 12px;
        padding-top: 0px;
        padding-bottom: 0px;
        color: $WHITE;
        padding-bottom: 20px;

        .bio-title {
            padding-bottom: 7px;
        }
    }

    .user-interests {
        padding-left: 20px;
        padding-right: 20px;
        font-size: 12px;
        padding-top: 0px;
        padding-bottom: 0px;
        color: $WHITE;
        padding-bottom: 20px;

        .interests-title {
            padding-bottom: 10px;
        }

        .interest-tag {
            border-radius: 12px;
            background-color: $PRIMARY;
            margin: 3px;
            padding: 5px 8px 5px 8px;
        }
    }

    .friend-requests {
        .friend-request-btn {
            margin-top: 5px;
            font-size: 11px;
        }

        .friend-req-message {
            font-size: 11px;
            color: $WHITE;
        }
    }
}

.modal-footer {
    background-color: $GRAY_BLUE;
    padding-bottom: 0;
}
