<div class="message-box" ngDraggable [position]="windowPosition" [handle]="TopBar" [ngDraggable]="!isMaximized"
    (mousedown)="isFocused.emit(friendData)" [ngStyle]="{'z-index': friendData.isFocused ? '902' : '901'}"
    [ngClass]="{'normal-window': !isMaximized, 'maximized-window': isMaximized, 'dark-general-colors': user.color_theme === 'dark'}"
    *ngIf="user">
    <div class="top-bar" #TopBar
        [ngStyle]="{'border-top-left-radius': isMaximized ? '0px' : '10px', 'border-top-right-radius': isMaximized ? '0px' : '10px'}">
        Direct Message

        <div class="float-right">
            <i class="fas fa-eye-slash cursor-pointer window-action-btn"
                (click)="friendData.isOpen = false; friendData.isFocused = false" title="Hide Window"></i> &nbsp;
            <i class="far cursor-pointer window-action-btn max-restore-btn" (click)="maximizeWindow()"
                [ngClass]="{'fa-window-maximize': !isMaximized, 'fa-window-restore': isMaximized}"
                title="Maximize/Restore"></i>
        </div>
    </div>

    <div class="top-bar-mobile">
        Direct Message

        <div class="float-right">
            <i class="fas fa-eye-slash cursor-pointer window-action-btn"
                (click)="friendData.isOpen = false; friendData.isFocused = false" title="Hide Window"></i> &nbsp;
        </div>
    </div>

    <div class="user-info-box"
        [ngClass]="{'dark-general-colors': user.color_theme === 'dark', 'light-general-colors': user.color_theme === 'light'}">
        <div class="position-relative">
            <img src="../../../../../assets/images/avatars/{{friendData.avatar}}" class="img-fluid user-icon" />

            <span class="user-status no-pad-margin"
                [ngClass]="{'online-status-color': friendData.status === 'online', 'away-status-color': friendData.status === 'away', 'dnd-status-color': friendData.status === 'dnd', 'matchinged-status-color' : friendData.status === 'matched' || friendData.status === 'matching'}">
                <i class="fas fa-circle"></i>
            </span>

            <strong>{{ friendData.name }}</strong>

            <div class="float-right">
                <button class="btn" *ngIf="friendData.status !== 'matching' && friendData.status !== 'matched'"
                    (click)="sendMatchInvite(friendData)">Invite
                    to Match</button>
            </div>
        </div>
    </div>
    <div class="message-area" id="{{friendData.id}}" (scroll)="chatScrolled()"
        [ngClass]="{'dark-general-colors': user.color_theme === 'dark'}">
        <div *ngFor="let m of friendData.messages" (resized)="checkForAutoScroll()">
            <div class="position-relative" [hidden]="hideBubbles"
                [ngClass]="{ 'text-right': m.type === 'sent' && user.bubble_layout === 'alternating' }">
                <div [ngClass]="{ 'right-bubble': m.type === 'sent' && user.bubble_layout === 'alternating', 
                'left-bubble': m.type === 'received' || user.bubble_layout === 'all_left' }" [ngStyle]="{'background-color': '#' + m.bubble_color,
                            'color': '#' + m.font_color }">
                    <div style="margin-left: 0px;">
                        <div class="float-left message-user">
                            {{ m.senderName }}
                        </div>

                        <br />
                        <span *ngIf="m.previewImg && user.img_previews" class="message-img-preview-container">
                            <img [src]="m.previewImg | safeURL" class="message-img-preview" /> <br />
                        </span>

                        <span [innerHTML]="m.message" [ngStyle]="{'font-family': m.font_face }">
                        </span>
                        <br />

                        <div class="float-right message-time">
                            <span *ngIf="m.type === 'sent'">Sent</span>
                            <span *ngIf="m.type === 'received'">Received</span>

                            {{ m.datetime }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="message-input-area"
        [ngClass]="{'dark-general-colors': user.color_theme === 'dark', 'light-general-colors': user.color_theme === 'light'}">
        <div class="user-is-typing" [hidden]="!friendData.isTyping" *ngIf="user">
            {{ friendData.name }} is typing
        </div>

        <div class="return-to-bottom-icon" [hidden]="autoScroll">
            <i class="fas fa-chevron-down cursor-pointer" (click)="scrollToChatBottom()"></i>
        </div>

        <form (ngSubmit)="sendMessage()" [formGroup]="messageForm" (keydown.enter)="sendMessage()" novalidate
            autocomplete="off">
            <textarea class="message-input" id="messageInput" placeholder="Type something to send. . ."
                formControlName="message" (input)="emitIsTyping()" #messageInput spellcheck="false" autofocus
                (keydown.enter)="onEnterPress($event)"
                [ngClass]="{'dark-general-colors': user.color_theme === 'dark', 'light-general-colors': user.color_theme === 'light'}"></textarea>

            <!-- Emojis -->
            <div class="emoji-btn-container cursor-pointer"
                (offClick)="!hideEmojis ? hideEmojis = !hideEmojis : hideEmojis">
                <img src="../../../../.../../../assets/images/emoji-send.png" class="emoji-btn" title="Emojis"
                    (click)="hideEmojis = !hideEmojis">

                <div class="emoji-container" [hidden]="hideEmojis"
                    [ngClass]="{'dark-pop-container': user.color_theme === 'dark', 'light-pop-container': user.color_theme === 'light'}">
                    <div class="row text-center no-pad-margin">
                        <div class="col-3 no-pad-margin emoji-icon-container" *ngFor="let e of emojis">
                            <img src="../../../../../assets/images/emojis/{{e.img}}" class="emoji-icon cursor-pointer"
                                ngbTooltip="{{e.code}}" placement="top" container="body"
                                (click)="insertEmojiCodeInMsg(e.code)" />
                        </div>
                    </div>
                </div>
            </div>

            <!-- Send Message -->
            <div class="send-btn-container cursor-pointer" (click)="sendMessage()"><img
                    src="../../../../../assets/images/prt-send.png" title="Send Message">
            </div>
        </form>

    </div>
</div>