<!-- Desktop View -->
<div class="row browser-container">
    <div class="col-3 my-auto user-icon-container" *ngIf="user">
        <!-- User Avatar/Badge -->
        <img src="../../../assets/images/avatars/{{user.avatar}}" class="user-icon float-right">

        <img src="../../../assets/images/badges/{{levelInfo.badge}}" class="user-badge-desktop">
    </div>
    <div class="col-9" *ngIf="user">
        <div class="row">
            <div class="col-12 no-pad-margin">
                <!-- User Name/Rank/Level -->
                <div class="float-left">
                    <div class="no-pad-margin">
                        <span class="username no-pad-margin">{{ user.name }}</span>
                        <span class="user-status no-pad-margin"
                            [ngClass]="{'online-status-color': user.status === 'online', 'away-status-color': user.status === 'away', 'dnd-status-color': user.status === 'dnd', 'matchinged-status-color' : user.status === 'matched' || user.status === 'matching'}">
                            <i class="fas fa-circle"></i>
                        </span>
                    </div>
                    <div class="no-pad-margin user-level-container">
                        <span class="user-level no-pad-margin">{{ levelInfo.rank}} - Level
                            {{ levelInfo.level }}</span>
                    </div>
                </div>

                <!-- Navigation Icons -->
                <div class="lg-nav-icon-container">
                    <i class="fas fa-cog lg-nav-icon" (click)="openSettingsModal()" title="User Settings"></i>
                    <i class="fas fa-user-friends lg-nav-icon" (click)="toggleFriendlist()" title="Friends"></i>
                    <span class="unread-msg-indicator cursor-pointer" *ngIf="friendsWithUnreadMessages.length > 0" (click)="toggleFriendlist()">
                        <i class="fas fa-comment-dots" ngbTooltip="New Messages" placement="bottom"
                            container="body"></i>
                    </span>
                    <span class="friend-request-indicator cursor-pointer" *ngIf="user.friend_requests" (click)="openFriendRequestsModal()">
                        <i class="fas fa-user-plus" ngbTooltip="New Friend Requests" placement="bottom"
                            container="body" *ngIf="user.friend_requests.length > 0"></i>
                    </span>
                    <i class="fas fa-question-circle lg-nav-icon" (click)="openHelpModal()" title="Help"></i>
                    <i class="fas fas fa-bug lg-nav-icon" (click)="openBugReportModal()" title="Bug Report"></i>
                    <i class="fas fa-times lg-nav-icon" (click)="logout()" title="Logout"></i>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- User Exp Bar -->
            <div class="col-12 progress-container">
                <ngb-progressbar type="success" [value]="expCurValue" [max]="expMaxValue">
                </ngb-progressbar>
                <div class="exp-text-container">{{ expCurValue }} / {{ expMaxValue }}</div>
            </div>
        </div>
    </div>
</div>

<!-- Mobile View -->
<div class="row mobile-container">
    <div class="col-12 my-auto user-icon-container" *ngIf="user">
        <!-- Unread message indicator-->
        <div class="unread-msg-indicator-mobile cursor-pointer" *ngIf="friendsWithUnreadMessages.length > 0" (click)="toggleFriendlist()">
            <i class="fas fa-comment-dots" ngbTooltip="New Messages" placement="left" container="body"></i>
        </div>

        <!-- Friend request indicator-->
        <div class="friend-request-indicator-mobile cursor-pointer" *ngIf="user.friend_requests" (click)="openFriendRequestsModal()">
            <i class="fas fa-user-plus" ngbTooltip="New Friend Requests" placement="left" container="body" *ngIf="user.friend_requests.length > 0"></i>
        </div>

        <img src="../../../assets/images/avatars/{{user.avatar}}" class="user-icon float-right cursor-pointer"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            (click)="navIsCollapsed = !navIsCollapsed"
            (offClick)="navIsCollapsed ? navIsCollapsed : navIsCollapsed = !navIsCollapsed" />

        <!-- User Avatar/Badge -->
        <img src="../../../assets/images/badges/{{levelInfo.badge}}" class="user-badge-mobile">

        <!-- Navigation Dropdown -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngbCollapse]="navIsCollapsed">
            <ul class="navbar-nav mr-auto nav-items">
                <ul class="navbar-nav mr-auto">
                    <li class="sm-nav-link cursor-pointer" (click)="openSettingsModal()">
                        <span>
                            <i class="fas fa-cog sm-nav-icon"></i>
                            Settings
                        </span>
                    </li>
                    <li class="sm-nav-link cursor-pointer" (click)="toggleFriendlist()">
                        <span>
                            <i class="fas fa-user sm-nav-icon friends-mobile-icon-pad"></i>
                            Friends
                        </span>
                    </li>
                    <li class="sm-nav-link cursor-pointer" (click)="openHelpModal()">
                        <span>
                            <i class="fas fa-question-circle sm-nav-icon"></i>
                            Help
                        </span>
                    </li>
                    <li class="sm-nav-link cursor-pointer" (click)="openBugReportModal()">
                        <span>
                            <i class="fas fa-bug sm-nav-icon"></i>
                            Bug Report
                        </span>
                    </li>
                    <li class="sm-nav-link cursor-pointer" (click)="logout()">
                        <span>
                            <i class="fas fa-times sm-nav-icon logout-mobile-icon-pad"></i>
                            Logout
                        </span>
                    </li>
                </ul>
            </ul>
        </div>

    </div>
</div>