<form (ngSubmit)="applyChanges()" [formGroup]="profileForm" novalidate *ngIf="user">
    <!-- Modal Header -->
    <div class="modal-header no-pad-margin">
        <div class="container user-header" *ngIf="user">
            <!-- User Profile -->
            <div class="row">
                <div class="col-12 my-auto text-center user-icon-container">
                    <div class="user-icon-content" (click)="openEditAvatar()">
                        <img src="../../../assets/images/avatars/{{user.avatar}}" class="user-icon">
                        <div class="user-icon-edit-btn">
                            <i class="fas fa-edit user-edit-icon"></i>
                        </div>

                        <img src="../../../assets/images/badges/{{user.levelInfo.badge}}" class="user-badge">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center">
                    <div class="no-pad-margin username-container">
                        <span class="username no-pad-margin">{{ user.name }}</span>
                    </div>
                    <div class="no-pad-margin">
                        <span class="user-level no-pad-margin">{{ user.levelInfo.rank }} - Level
                            {{ user.levelInfo.level }}</span>
                    </div>

                    <div class="no-pad-margin">
                        <span class="user-time-spent no-pad-margin">Chat time:
                            {{ (user.experience / 60 / 60).toFixed(0) }} hours</span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 progress-container">
                    <ngb-progressbar class="progress-bar-container" type="success" [value]="expCurValue"
                        [max]="expMaxValue">
                    </ngb-progressbar>
                    <div class="exp-text-container">{{ expCurValue }} / {{ expMaxValue }}</div>
                </div>
            </div>
        </div>

        <i class="fas fa-times cursor-pointer close-btn" (click)="activeModal.dismiss()"></i>
    </div>
    <!-- Modal Body -->
    <div class="container modal-body">
        <div class="row">
            <div class="col-12 text-center">
                <prt-alert-messages [messages]="messages"></prt-alert-messages>

                <!-- Main Settings -->
                <div class="text-left">
                    <h5 class="form-header">Name</h5>
                </div>
                <div class="form-group position-relative">
                    <prt-form-validation-msgs [control]="profileForm.controls.name" [submitted]="profileForm.submitted">
                    </prt-form-validation-msgs>
                    <div class="col-12">
                        <div class="input-group">
                            <input type="text" class="form-control text-input" formControlName="name" autocomplete="off"
                                spellcheck="false" />
                        </div>
                    </div>
                </div>

                <div class="text-left">
                    <h5 class="form-header">Font</h5>
                </div>
                <div class="form-group position-relative">
                    <div class="col-12">
                        <div class="input-group">
                            <select class="form-control text-input" formControlName="font_face">
                                <option value="Abril Fatface">Abril Fatface</option>
                                <option value="Indie Flower">Indie Flower</option>
                                <option value="Josefin Sans">Josefin Sans</option>
                                <option value="Jost">Jost</option>
                                <option value="Lato">Lato</option>
                                <option value="Open Sans">Open Sans</option>
                                <option value="Righteous">Righteous</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="text-left">
                    <h5 class="form-header">Font Color</h5>
                </div>
                <div class="form-group position-relative">
                    <div class="col-12">
                        <div class="input-group">
                            <div class="color-input" [colorPicker]="profileForm.controls['font_color'].value"
                                (colorPickerChange)="profileForm.controls['font_color'].setValue($event);"
                                [cpAlphaChannel]="'disabled'" [cpOKButton]="true" [cpPosition]="'bottom'"
                                [style.background]="profileForm.controls['font_color'].value" [cpOKButtonClass]="'btn'"
                                [cpDisableInput]="true"> </div>
                        </div>
                    </div>
                </div>

                <div class="text-left">
                    <h5 class="form-header">Bubble Color</h5>
                </div>
                <div class="form-group position-relative">
                    <div class="col-12">
                        <div class="input-group">
                            <div class="color-input" [colorPicker]="profileForm.controls['bubble_color'].value"
                                (colorPickerChange)="profileForm.controls['bubble_color'].setValue($event);"
                                [cpAlphaChannel]="'disabled'" [cpOKButton]="true" [cpPosition]="'bottom'"
                                [style.background]="profileForm.controls['bubble_color'].value"
                                [cpOKButtonClass]="'btn'" [cpDisableInput]="true"> </div>
                        </div>
                    </div>
                </div>

                <!-- Preview Bubble -->
                <div class="position-relative preview-bubble-container" [ngClass]="{ 'text-right': profileForm.value.bubble_layout === 'alternating', 
                    'text-left': profileForm.value.bubble_layout === 'all_left' }">
                    <div [ngClass]="{ 'right-bubble': profileForm.value.bubble_layout === 'alternating', 'left-bubble': profileForm.value.bubble_layout === 'all_left'}"
                        [ngStyle]="{'background-color': profileForm.value.bubble_color,
                                            'color': profileForm.value.font_color }">

                        <div class="float-left" *ngIf="profileForm.value.show_avatars">
                            <img [src]="'../../../assets/images/avatars/' + user.avatar" class="user-icon">
                        </div>
                        <div [ngStyle]="{'margin-left': profileForm.value.show_avatars ? '65px' : '0px' }">
                            <div class="float-left message-user">{{ profileForm.value.name }}</div>


                            <br />
                            <span [ngStyle]="{'font-family': profileForm.value.font_face }">Here's a preview of what you
                                and your matches will see.</span>
                            <br />

                            <div class="float-right message-time">
                                Sent 5:02 pm</div>
                        </div>
                    </div>
                </div>

                <!-- Interests  -->
                <div class="text-left">
                    <h5 class="form-header">
                        <span class="cursor-pointer" (click)="showInterests = !showInterests">
                            Interests <i class="fas"
                                [ngClass]="{'fa-caret-right' : !showInterests, 'fa-caret-down' : showInterests }"></i>
                        </span>
                    </h5>
                </div>
                <div class="form-group position-relative" [@slideInOut] *ngIf="showInterests">
                    <div class="col-12">
                        <div class="row text-left interest-container">
                            <div class="col-lg-4 col-sm-6" *ngFor="let i of interests">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox" value="{{i.name}}"
                                            [checked]="profileForm.value.interests && profileForm.value.interests.indexOf(i.name) > -1"
                                            (change)="toggleInterest(i.name)"
                                            class="form-check-input interest-checkbox" />
                                        <span class="interest-title">{{ i.title }}</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row no-pad-margin">
                        <div class="col-12 text-center">
                            <div class="custom-interests-container">
                                <tag-input [(ngModel)]='customInterests' [ngModelOptions]="{standalone: true}"
                                    [secondaryPlaceholder]="'Add interest then hit enter'" [placeholder]="''"
                                    [modelAsStrings]="true" [maxItems]="22" (onRemove)="onCustomInterestRemoved($event)"
                                    [errorMessages]="customInterestsErrors" [validators]="customInterestsValidators">
                                </tag-input>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Bio -->
                <div class="text-left">
                    <h5 class="form-header">
                        <span class="cursor-pointer" (click)="showBio = !showBio">
                            Bio <i class="fas"
                                [ngClass]="{'fa-caret-right' : !showBio, 'fa-caret-down' : showBio }"></i>
                        </span>
                    </h5>
                </div>
                <div class="form-group position-relative bio-container" [@slideInOut] *ngIf="showBio">
                    <div class="row">
                        <div class="col-12 text-center bio-col">
                            <div class="input-group">
                                <textarea rows="40" cols="50" class="form-control text-input text-area"
                                    formControlName="bio"
                                    placeholder="Type out a short description you would like others to see (200 Char Limit)"> </textarea>
                            </div>

                            <div class="char-left-msg">{{ bioLeftLength }} <span *ngIf="bioLeftLength > 0">characters
                                    left</span></div>
                        </div>
                    </div>
                </div>

                <!-- Options -->
                <div class="text-left">
                    <h5 class="form-header">
                        <span class="cursor-pointer" (click)="showMiscOpts = !showMiscOpts">
                            Options <i class="fas"
                                [ngClass]="{'fa-caret-right' : !showMiscOpts, 'fa-caret-down' : showMiscOpts }"></i>
                        </span>
                    </h5>
                </div>
                <div class="form-group position-relative options-container" [@slideInOut] *ngIf="showMiscOpts">
                    <div class="row">
                        <div class="col-5 option-text text-left">
                            Show Avatars
                        </div>
                        <div class="col-5 text-left">
                            <span class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic"
                                formControlName="show_avatars">
                                <label ngbButtonLabel class="opt-toggle-btn">
                                    <input ngbButton type="radio" [value]="true"> Yes
                                </label>
                                <label ngbButtonLabel class="opt-toggle-btn">
                                    <input ngbButton type="radio" [value]="false"> No
                                </label>
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5 option-text option-text-padding text-left">
                            Bubbles
                        </div>
                        <div class="col-5 text-left">
                            <span class="btn-group btn-group-toggle opt-toggle-grp-pad" ngbRadioGroup name="radioBasic"
                                formControlName="bubble_layout">
                                <label ngbButtonLabel class="opt-toggle-btn">
                                    <input ngbButton type="radio" [value]="'alternating'"> Alternate
                                </label>
                                <label ngbButtonLabel class="opt-toggle-btn">
                                    <input ngbButton type="radio" [value]="'all_left'"> Left
                                </label>
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5 option-text option-text-padding text-left">
                            Theme
                        </div>
                        <div class="col-5 text-left">
                            <span class="btn-group btn-group-toggle opt-toggle-grp-pad" ngbRadioGroup name="radioBasic"
                                formControlName="color_theme">
                                <label ngbButtonLabel class="opt-toggle-btn">
                                    <input ngbButton type="radio" [value]="'light'"> Light
                                </label>
                                <label ngbButtonLabel class="opt-toggle-btn">
                                    <input ngbButton type="radio" [value]="'dark'"> Dark
                                </label>
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5 option-text option-text-padding text-left">
                            Enforce Interests
                        </div>
                        <div class="col-5 text-left">
                            <span class="btn-group btn-group-toggle opt-toggle-grp-pad" ngbRadioGroup name="radioBasic"
                                formControlName="enforce_interests">
                                <label ngbButtonLabel class="opt-toggle-btn">
                                    <input ngbButton type="radio" [value]="true"> Yes
                                </label>
                                <label ngbButtonLabel class="opt-toggle-btn">
                                    <input ngbButton type="radio" [value]="false"> No
                                </label>
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5 option-text option-text-padding text-left">
                            Sounds
                        </div>
                        <div class="col-5 text-left">
                            <span class="btn-group btn-group-toggle opt-toggle-grp-pad" ngbRadioGroup name="radioBasic"
                                formControlName="sounds">
                                <label ngbButtonLabel class="opt-toggle-btn">
                                    <input ngbButton type="radio" [value]="true"> On
                                </label>
                                <label ngbButtonLabel class="opt-toggle-btn">
                                    <input ngbButton type="radio" [value]="false"> Off
                                </label>
                            </span>
                        </div>
                    </div>
                </div>

                <!-- Change Password -->
                <div class="text-left">
                    <div class="text-left">
                        <h5 class="form-header">
                            <span class="cursor-pointer" (click)="showChangePassword = !showChangePassword">
                                Change Password <i class="fas"
                                    [ngClass]="{'fa-caret-right' : !showChangePassword, 'fa-caret-down' : showChangePassword }"></i>
                            </span>
                        </h5>
                    </div>
                </div>
                <div class="form-group position-relative" [@slideInOut] *ngIf="showChangePassword">
                    <prt-form-validation-msgs [control]="profileForm.controls.oldPassword"
                        [submitted]="profileForm.submitted">
                    </prt-form-validation-msgs>
                    <div class="col-12">
                        <div class="input-group">
                            <input type="password" class="form-control text-input" formControlName="oldPassword"
                                autocomplete="off" spellcheck="false" placeholder="Current Password" />
                        </div>
                    </div>

                    <div class="form-group position-relative cpw-input-container">
                        <prt-form-validation-msgs [control]="profileForm.controls.newPassword"
                            [submitted]="profileForm.submitted">
                        </prt-form-validation-msgs>
                        <div class="col-12">
                            <div class="input-group">
                                <input type="password" class="form-control text-input" formControlName="newPassword"
                                    autocomplete="off" spellcheck="false" placeholder="New Password" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Footer -->
    <div class="modal-footer text-center no-pad-margin">
        <div class="form-group text-center">
            <input type="submit" value="APPLY" class="btn submit-btn cursor-pointer" />
        </div>
    </div>
</form>