<div class="game" *ngIf="gameUrl">
    <div class="instructions" *ngIf="!gameAccepted">
        Instructions: <br />
        <span *ngIf="gameType === 'gartic'">
            1.) Click 'Rooms' <br />
            2.) Click 'New Room' <br />
            3.) Select a topic, then click 'New Room'
        </span>

        <span *ngIf="gameType === 'chess'">
            1.) Click 'Invite Friend' <br />
            2.) Click 'Create Game'
        </span>

        <span *ngIf="gameType === 'tictactoe'">
            1.) Under 'Online Game' click 'Start'
        </span>
        <br />
        <input type="text" class="form-control" placeholder="Paste invite code here" style="margin-bottom: 10px; margin-top: 10px;" [(ngModel)]="inviteLink" />
        <button class="btn" (click)="sendInvite(inviteLink)">Send Invite</button> &nbsp;
        <button class="btn" (click)="cancel()">Cancel</button>
    </div>

    <div class="close-game text-center cursor-pointer" *ngIf="gameAccepted" (click)="closeGame()">
        <i class="fas fa-times close-btn"></i> <br /> End Game
    </div>

    <iframe [src]="gameUrl | safeURL" frameborder="0"></iframe>
</div>