@import "../shared/modals";

html,
body {
    height: 100%;
    min-height: 100%;
    font-family: $FONT_PRIMARY;
    font-size: 14px;
    color: $TEXT_PRIMARY;

    background-image: url("../images/prt-background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.no-pad-margin {
    padding: 0;
    margin: 0;
}

.inline-block {
    display: inline-block;
}

.cursor-pointer {
    cursor: pointer;
}

.position-relative {
    position: relative;
}

.no-outline {
    outline: none !important;
    border: none !important;
}

::selection {
    background: $GRAY_ONE;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: $WHITE;
}

::-webkit-scrollbar-thumb {
    background: $GRAY_TWO;
}

::-webkit-scrollbar-thumb:hover {
    background: $PRIMARY;
}

.page-title {
    font-size: 35px;
    font-weight: 600;
    color: $PRIMARY;
    margin-bottom: 30px;
    margin-top: 40px;
}

.heading {
    font-size: 35px;
    font-weight: 600;
}

.sub-heading {
    font-size: 18px;
    font-weight: 600;
}

.btn {
    background-color: $PRIMARY;
    color: $WHITE;
}

.btn:hover {
    background-color: $PRIMARY_DARKEN;
}

.btn:active {
    animation-name: buttonsmash;
    animation-duration: 2s;
}

.lrg-btn {
    font-size: 20px;
    font-weight: 600;
    margin-top: 50px;
    padding: 20px 30px 20px 30px;
    border-radius: 20px;
}

.submit-btn {
    border-radius: 20px;
    margin: 10px 0 10px 0;
    padding: 10px 50px 10px 50px;
    font-weight: 600;
    font-size: 18px;
    border: 0;
}

.white-submit-btn {
    border-radius: 20px;
    margin: 10px 0 0 0;
    padding: 10px 50px 10px 50px;
    font-weight: 600;
    font-size: 18px;
    background-color: $WHITE;
    color: $TEXT_PRIMARY;
    border: 0;

    &:hover {
        background-color: $GRAY_ONE;
        transition: 0.5s;
    }
}

.btn,
.white-submit-btn {
    &:active,
    &:focus {
        outline: none !important;
        border: none !important;
    }
}

@keyframes buttonsmash {
    from {
        box-shadow: inset 0px 2px 10px 0px rgba(0, 0, 0, 1);
    }
    to {
        box-shadow: none;
    }
}

@media (min-width: 344px) {
    .wrapper {
        min-height: 100%;
        height: auto;
        margin: 0 auto -37px;
        padding: 0 0 37px;
    }

    .v-center-content {
        height: calc(100% - 55px);
    }
}

@media (min-width: 992px) {
    .wrapper {
        min-height: 100%;
        height: auto;
        margin: 0 auto -35px;
        padding: 0 0 35px;
    }

    .v-center-content {
        height: calc(100% - 120px);
    }
}
