$FONT_PRIMARY: "Lato", sans-serif;

$TEXT_PRIMARY: #666666;

$PRIMARY: #00aff0;
$PRIMARY_DARKEN: rgb(1, 156, 212);

$GRAY_BLUE: rgb(33, 37, 43);
$WHITE_BLUE: rgb(249, 253, 255);

$GRAY_ONE: #ddd;
$GRAY_TWO: rgb(179, 179, 179);
$GRAY_THREE: #eee;

$GREEN: rgb(3, 160, 3);
$ORANGE:rgb(235, 152, 0); 
$YELLOW: rgb(214, 200, 4);
$RED: red;

$WHITE: #ffffff;
$BLACK: #000000;
