<div class="modal-header no-pad-margin">
    <img src="../../assets/images/prt-icon-white.png" class="img-fluid mx-auto prt-icon" />
    <i class="fas fa-times cursor-pointer close-btn" (click)="activeModal.dismiss()"></i>
</div>
<div class="container modal-body">
    <div class="row">
        <div class="col-12 text-center">
    <prt-alert-messages [messages]="messages"></prt-alert-messages>

            <form (ngSubmit)="createUser()" [formGroup]="signUpForm" novalidate>
                <div class="form-group position-relative">
                    <prt-form-validation-msgs [control]="signUpForm.controls.name" [submitted]="signUpForm.submitted">
                    </prt-form-validation-msgs>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <input type="text" class="form-control text-input" formControlName="name" autocomplete="off"
                                spellcheck="false" autofocus placeholder="Enter your default name" />
                        </div>
                    </div>
                </div>

                <div class="form-group position-relative">
                    <prt-form-validation-msgs [control]="signUpForm.controls.email" [submitted]="signUpForm.submitted">
                    </prt-form-validation-msgs>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <input type="text" class="form-control text-input" formControlName="email" name="email" id="email"
                                spellcheck="false" autocomplete="off" placeholder="Email" />
                        </div>
                    </div>
                </div>

                <div class="form-group position-relative">
                    <prt-form-validation-msgs [control]="signUpForm.controls.password"
                        [submitted]="signUpForm.submitted"></prt-form-validation-msgs>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <input type="password" class="form-control text-input" formControlName="password"
                                placeholder="Password" />
                        </div>
                    </div>
                </div>

                <div class="form-group position-relative">
                    <prt-form-validation-msgs [control]="signUpForm.controls.passwordConfirm"
                        [submitted]="signUpForm.submitted"></prt-form-validation-msgs>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <input type="password" class="form-control text-input" formControlName="passwordConfirm"
                                placeholder="Confirm Password" />
                        </div>
                    </div>
                </div>

                <div class="form-group text-center">
                    <input type="submit" value="HOP IN!" class="submit-btn cursor-pointer" />
                </div>
            </form>

        </div>
    </div>
</div>
<div class="modal-footer text-center">
    <span class="footer-text">By registering, you agree to Prate's <a href="#">Terms of Service</a> and <a href="#">Privacy Policy</a>.</span>
</div>