<div class="container-fluid no-pad-margin h-100 page-container">

    <prt-header [selectedTab]="'SUMMARY'"></prt-header>

    <div class="row no-pad-margin text-center content">
        <div class="col-12">

            <div class="row">
                <div class="col-lg-4 offset-lg-4 col-sm-12">
                    <img class="img-fluid" src="../../assets/images/prt-icon.png"/>
                </div>
            </div>

            <div class="row block-container">
                <div class="col-lg-6 col-sm-12 offset-lg-3">
                    <div class="heading">Why Prate?</div>
                    <div class="statement mx-auto">
                        <div class="summary-header-item">Prate is free chat application for people who want to be
                            matched with others based on their
                            topic of interest. We enable our visitors to connect with those they wouldn't
                            otherwise meet in the real
                            world. Our goal is to encourage our users to build short or even
                            long-lasting friendships through sharing
                            experiences, values, and knowledge. <br /> <br />

                            It’s our responsibility to simplify meeting new people easily with the press of one button.
                        </div>
                    </div>
                </div>
            </div>

            <div class="row block-container" style="margin-top: 20px;">
                <div class="col-lg-6 col-sm-12 offset-lg-3">
                    <i class="fas fa-user-check summary-icon"></i>
                    <div class="sub-heading">Matching</div>
                    <div class="statement mx-auto">
                        <div class="summary-header-item">Users will be matched with somone
                            they can relate to or you can just match randomly to chat with anyone! Not liking your
                            match? You can leave your chat any time
                            and match with a another user. Our services allow for easy, seamless chatting across
                            multiple platforms. Prate doesn't discriminate! <img
                                src="https://pbs.twimg.com/media/C7avWNSVsAQIMG5.png"
                                style="height: 20px; width: 16px; position: relative; top: -2px;">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row block-container">
                <div class="col-lg-6 col-sm-12 offset-lg-3">
                    <i class="fas fa-edit summary-icon"></i>
                    <div class="sub-heading">Customization</div>
                    <div class="statement mx-auto">
                        <div class="summary-header-item">Customize several aspects of your chatting experience. Change
                            your text color, bubble color, and font face easily with our user settings management.
                            We even allow users to sport their own custom picture that they can show off to their
                            friends and matches. It's easy to be an individual on Prate and separate yourself from the
                            rest.
                        </div>
                    </div>
                </div>
            </div>

            <div class="row block-container">
                <div class="col-lg-6 col-sm-12 offset-lg-3">
                    <i class="fas fa-chart-line summary-icon"></i>
                    <div class="sub-heading">Progression</div>
                    <div class="statement mx-auto">
                        <div class="summary-header-item">
                            Using Prate's leveling progression system, you can easily rank up and earn rewards to show
                            off to your matches. Your chatting experience is reflected to other users so they know you
                            know what you're
                            doing. All of your chatting experience means something, and your time is never wasted.
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>