.modal-header {
    background-color: rgb(33, 37, 43);
    border-bottom: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.modal-body {
    background-color: rgb(249, 253, 255);
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.modal-footer {
    background-color: rgb(249, 253, 255);
    border-top: 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-top: 0;
    padding-bottom: 0;
    justify-content: center;
}

::ng-deep>>>.modal-content {
    border: 0;
    border-radius: 35px;
}

::ng-deep>>>.modal {
    text-align: center;
    padding: 0!important;
}

.close-btn {
    color: #00AFF0;
    position: absolute;
    right: 13px;
    top: 10px;
    font-size: 20px;
}

.close-btn:hover {
    color: #ffffff;
}

.confirmation-header {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #ffffff;
    font-size: 18px;
}

.message-col {
    font-size: 14px;
}

.btn-container {
    margin-bottom: 20px;
}