<form (ngSubmit)="applyChanges()" [formGroup]="avatarForm" novalidate>

    <div class="modal-header no-pad-margin">
        <div class="container avatar-header">
            <div class="row">
                <div class="col-12 my-auto text-center">
                    Change Avatar
                </div>
            </div>
        </div>

        <i class="fas fa-times cursor-pointer close-btn" (click)="activeModal.dismiss()"></i>
    </div>

    <div class="container modal-body">
        <div class="row">
            <div class="col-12 text-center">
                <prt-alert-messages [messages]="messages"></prt-alert-messages>

                <div class="row">
                    <div class="col-6 text-center">
                        <img src="../../../assets/images/avatars/default.png" class="avatar-image"> <br />
                        <input type="radio" name="avatar" value="default.png" formControlName="avatar" />
                    </div>
                    <div class="col-6 text-center">
                        <img src="../../../assets/images/avatars/conker.jpg" class="avatar-image"> <br />
                        <input type="radio" name="avatar" value="conker.jpg" formControlName="avatar" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer text-center no-pad-margin">
        <div class="form-group text-center">
            <input type="submit" value="APPLY" class="btn submit-btn cursor-pointer" />
        </div>
    </div>
</form>