<div class="container-fluid no-pad-margin h-100 page-container">

    <prt-header></prt-header>
    
    <div class="row no-pad-margin text-center content">
        <div class="col-12 my-auto">
            <div class="heading">Chat with people of similar interests.</div>
            <div class="sub-heading">Prate will match you with the people you want to chat with.</div>

            <button class="btn open-btn" (click)="openSignUp()">Sign Up Now!</button>
            <br />
            <img class="img-fluid" src="../../assets/images/prt-icon.png" />
        </div>
    </div>

    <prt-footer></prt-footer>
</div>