<div class="wrapper">

    <prt-header></prt-header>

    <div class="row no-pad-margin text-center">
        <div class="col-12 my-auto content-container">
            <div class="heading">Chat with people of similar interests.</div>
            <div class="sub-heading">Prate will match you with the people you want to chat with.</div>

            <button class="btn open-btn" (click)="openSignUp()" *ngIf="!userAuthed">Sign Up Now!</button>
            <button class="btn open-btn" (click)="goToChat()" *ngIf="userAuthed">Start Chatting!</button>

            <br />
            <img class="img-fluid" src="../../assets/images/prt-icon.png" />

            <!-- <div class="mobile-badges">
                <div class="sub-heading">Coming soon to mobile...</div>
                <br />
                <img src="../../../assets/images/google-play-badge.png" class="badges" /> &nbsp;
                <img src="../../../assets/images/app-store-badge.png" class="badges" />
            </div> -->
        </div>
    </div>

</div>

<prt-footer></prt-footer>
