.heading {
    font-size: 35px;
    font-weight: 600;
}

.sub-heading {
    font-size: 18px;
    font-weight: 600;
}

.open-btn {
    font-size: 20px;
    font-weight: 600;
    margin-top: 50px;
    padding: 20px 30px 20px 30px;
    border-radius: 20px;
}

.badges {
    height: 35px;
    width: 120px;
}

.mobile-badges {
    margin-top: 20px;
}

@media (min-width: 344px) {
    .mobile-badges {
        display: none;
    }
}

@media (min-width: 992px) {
    .mobile-badges {
        display: block;
    }
}