@import "../../../../assets/scss/utils/variables";

/* Header */
.user-header {
    margin-top: 20px;
    margin-bottom: 20px;

    .user-icon-container {
        padding-right: 10px;
        position: relative;
        height: 55px;

        .user-icon-content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            width: 60px;
            height: 55px;

            .user-icon {
                top: 2px;
            }

            .user-icon-edit-btn {
                transition: 0.5s ease;
                opacity: 0;
                text-align: center;
                color: $GRAY_ONE;
                font-size: 16px;
                height: 55px;
                width: 60px;
                border-radius: 50%;
                position: absolute;
                top: 2px;
                left: -3px;
                background-color: rgba(0, 0, 0, 0.5);

                .user-edit-icon {
                    position: absolute;
                    top: 50%;
                    left: 55%;
                    transform: translate(-55%, -50%);
                }
            }

            .user-badge {
                bottom: -2px;
                transition: 0.5s ease;
                opacity: 1;
                cursor: pointer;
            }

            &:hover {
                .user-badge {
                    transition: 0.5s ease;
                    opacity: 0;
                }

                .user-icon-edit-btn {
                    opacity: 1;
                    cursor: pointer;
                }
            }
        }
    }

    .user-info-container {
        padding-top: 5px;
    }

    .progress-container {
        margin: 0;
        padding: 15px 18px 0px 18px;

        .exp-text-container {
            left: 50%;
        }
    }
}

/* Body */
.user-body {
    .form-label {
        padding-left: 37px;
        font-weight: 600;
    }

    .color-input {
        border-radius: 10px;
        height: 25px;
        width: 100%;
        margin-left: 20px;
        margin-right: 20px;
        border: 1px solid $GRAY_THREE;
    }

    .preview-bubble-container {
        padding-top: 10px;
        padding-bottom: 10px;
        margin-left: 15px;
        margin-right: 25px;

        .right-bubble::after {
            bottom: 45px;
        }
    }

    .interest-container {
        padding-left: 40px;
        margin-bottom: 14px;

        .interest-title {
            margin-left: 3px;
        }

        .interest-checkbox {
            position: relative;
            top: 1.5px;
        }
    }

    .custom-interests-container {
        padding-left: 45px;
        padding-right: 55px;
    }

    .bio-container {
        margin-bottom: 0px;

        .bio-col {
            padding-left: 35px;
            padding-right: 35px;

            .text-area {
                resize: none;
                height: 200px;
                font-weight: 500;
                padding-top: 12px;
            }

            .char-left-msg {
                text-align: right;
                font-size: 13px;
                padding-right: 27px;
                padding-top: 5px;
            }
        }
    }

    .options-container {
        margin-top: 10px;
        margin-bottom: 10px;

        .option-text {
            padding-left: 55px;
            padding-top: 5px;
        }

        .option-text-padding {
            padding-top: 10px;
        }

        .opt-toggle-btn {
            background-color: #e6e6e6;
            color: #444444;
            outline: none;
            border: 1px solid #7e7e7e;

            &.active,
            &.focus {
                background-color: $PRIMARY;
                color: $WHITE;
                outline: none !important;
                box-shadow: none !important;
                transition: 0.5s;
            }

            &:active {
                animation-name: none !important;
            }
        }

        .opt-toggle-grp-pad {
            padding-top: 5px;
        }
    }

    .cpw-input-container {
        padding-top: 3px;
    }
}

::ng-deep {
    .color-picker .arrow.arrow-bottom {
        display: none !important;
    }

    .ng2-tag-input__text-input {
        background-color: $WHITE_BLUE;
    }
}
