hr {
    background-color: #00AFF0;
    margin-top: 0px;
    margin-bottom: 5px;
}

i {
    transition: 0.5s;
    z-index: 6 !important;
}

.page-heading {
    margin-top: 40px;
}

.heading {
    font-size: 35px;
    font-weight: 600;
    padding-bottom: 20px;
    color: #00AFF0;
}

.sub-heading {
    font-size: 20px;
    font-weight: 600;
    color: #00AFF0;
}

.summary-container {
    padding-top: 60px;
}

.summary-message-container {
    font-size: 18px;
    font-weight: 500;
    text-align: left;
    padding-bottom: 10px;
}

.summary-message {
    margin-bottom: 10px;
}

.illustration-img-container {
    height: auto;
    position: relative;
}

.illustration-img {
    -webkit-box-shadow: 2px 4px 10px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 2px 4px 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 2%;
    transition: .5s;
    z-index: 5;
}

.illustration-img:hover {
    transform: scale(1.5);
    transition: .5s;
    z-index: 5;
}

.summary-icon {
    font-size: 50px;
    text-align: right;
    color: #ffffff;
    text-shadow: 0 0 10px #00AFF0, 0 0 10px #00AFF0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    opacity: .7;
}

.fade-out-summary-icon {
    opacity: 0;
    transition: 0.5s;
    z-index: 4 !important;
}

.footer-pad {
    padding-bottom: 40px;
}

