<div class="background-overlay" *ngIf="showFriends" [@fadeInOut] (click)="closeFriendList()"></div>
<div [@slideInOut]="showFriends ? 'show' : 'hide'" class="friendlist-container container no-pad-margin" *ngIf="user">
    <div class="friendlist-header-container">
        <i class="fas fa-chevron-left cursor-pointer close-btn" (click)="closeFriendList()"></i>

        <div class="row no-pad-margin">
            <div class="col-4 my-auto user-icon-container no-pad-margin">
                <div class="user-icon-content">
                    <img src="../../../assets/images/avatars/{{user.avatar}}" class="user-icon">

                    <img src="../../../assets/images/badges/{{user.levelInfo.badge}}" class="user-badge">
                </div>
            </div>
            <div class="col-8 no-pad-margin user-info-container">
                <div class="username-container">
                    <span class="username">{{ user.name }}</span>
                </div>
                <div
                    [ngClass]="{'online-status-color': user.status === 'online', 'away-status-color': user.status === 'away', 'dnd-status-color': user.status === 'dnd', 'matchinged-status-color' : user.status === 'matched' || user.status === 'matching'}">
                    <span class="user-status no-pad-margin cursor-pointer" (click)="toggleUserStatus()"><i
                            class="fas fa-circle"></i></span>

                    <span class="status-text cursor-pointer" (click)="toggleUserStatus()">
                        <span *ngIf="user.status === 'matched'">In Match</span>
                        <span *ngIf="user.status === 'online'">Online</span>
                        <span *ngIf="user.status === 'away'">Away</span>
                        <span *ngIf="user.status === 'dnd'">Do Not Disturb</span>
                        <span *ngIf="user.status === 'matching'">Looking for Match</span>
                    </span>
                </div>

                <div class="user-friend-req-count">
                    <button class="btn friends-btn" (click)="openAddFriendModal()"><i class="fas fa-plus"></i> Add
                        Friend</button> &nbsp;
                    <button class="btn friends-btn" (click)="openFriendRequestsModal()"><i class="fas fa-users"></i>
                        Requests ({{user.friend_requests.length}})</button>
                </div>
            </div>
        </div>
    </div>

    <div class="friendlist-body-container">
        <div class="row">
            <div class="col-12">
                <div class="friendlist-body-heading">
                    <span class="cursor-pointer" (click)="hideOnlineFriends = !hideOnlineFriends"><i
                            class="fas" [ngClass]="{'fa-caret-down': !hideOnlineFriends, 'fa-caret-right': hideOnlineFriends}"></i> Online</span>
                </div>
            </div>
        </div>

        <div [@showHide]="hideOnlineFriends ? 'hide' : 'show'">
            <div class="row friend-row no-pad-margin" *ngFor="let u of onlineUsers">
                <div class="col-2 text-right no-pad-margin">
                    <img src="../../../../../assets/images/avatars/{{u.avatar}}" class="img-fluid friends-user-icon cursor-pointer" (click)="openViewUserProfileModal(u.id)"/>
                </div>
                <div class="col-7 friends-status-container no-pad-margin">
                    <div>
                        <span class="friends-username">{{ u.name }} <span *ngIf="friendsWithUnreadMessages.indexOf(u.id) > -1"><i class="fas fa-comment-dots unread-msg-color"></i></span></span> 
                    </div>
                    <div
                        [ngClass]="{'online-status-color': u.status === 'online', 'away-status-color': u.status === 'away', 'dnd-status-color': u.status === 'dnd', 'matchinged-status-color' : u.status === 'matching' || u.status === 'matched'}">
                        <span class="user-status no-pad-margin"><i class="fas fa-circle"></i></span>

                        <span class="status-text">
                            <span *ngIf="u.status === 'matched'">In Match</span>
                            <span *ngIf="u.status === 'online'">Online</span>
                            <span *ngIf="u.status === 'away'">Away</span>
                            <span *ngIf="u.status === 'dnd'">Do Not Disturb</span>
                            <span *ngIf="u.status === 'matching'">Looking for Match</span>
                        </span>
                    </div>
                </div>
                <div class="col-3 text-right friends-actions-container no-pad-margin">
                    <div class="float-right">
                        <i class="fas fa-comment-alt matchinged-status-color cursor-pointer" (click)="openMessageBox(u)"></i> &nbsp;
                        <i class="fas fa-times dnd-status-color cursor-pointer" (click)="confirmRemoveFriend(u)"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="friendlist-body-heading">
                    <span class="cursor-pointer" (click)="hideOfflineFriends = !hideOfflineFriends"><i
                            class="fas" [ngClass]="{'fa-caret-down': !hideOfflineFriends, 'fa-caret-right': hideOfflineFriends}"></i> Offline</span>
                </div>
            </div>
        </div>

        <div [@showHide]="hideOfflineFriends ? 'hide' : 'show'">
            <div class="row friend-row no-pad-margin" *ngFor="let u of offlineUsers">
                <div class="col-2 text-right no-pad-margin">
                    <img src="../../../../../assets/images/avatars/{{u.avatar}}" class="img-fluid friends-user-icon cursor-pointer" (click)="openViewUserProfileModal(u.id)" />
                </div>
                <div class="col-7 friends-status-container no-pad-margin">
                    <div>
                        <span class="friends-username">{{ u.name }}</span>
                    </div>
                    <div>
                        <span class="user-status no-pad-margin"><i class="fas fa-circle"></i></span>

                        <span class="status-text">
                            <span>Offline</span>
                        </span>
                    </div>
                </div>
                <div class="col-3 text-right friends-actions-container no-pad-margin">
                    <div class="float-right">
                        <i class="fas fa-times dnd-status-color cursor-pointer" (click)="confirmRemoveFriend(u)"></i>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>