@import "~bootstrap/dist/css/bootstrap.css";

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Indie+Flower|Josefin+Sans:400,600|Jost:400,600|Open+Sans:600|Righteous&display=swap');

html, body {
    height: 100%;
    min-height: 100%;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: #666666;

    background-image: url("./assets/images/prt-background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.no-pad-margin {
    padding: 0;
    margin: 0;
}

.btn {
    background-color: #00AFF0;
    color: #ffffff;
}

.btn:hover {
    background-color: rgb(1, 156, 212);
}

.cursor-pointer {
    cursor: pointer;
}

.position-relative {
    position: relative;
}

.btn:active {
    animation-name: buttonsmash;
    animation-duration: 2s;
}

@keyframes buttonsmash {
    from {
        box-shadow: inset 0px 2px 10px 0px rgba(0, 0, 0, 1);
    }
    to {
        box-shadow: none;
    }
}

@keyframes modal-b-fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.5;
    }
}

@keyframes modal-fade {
    from {
        top: -100px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

/* .modal-backdrop {
    opacity: 0.5;
    animation: ease-in-out .25s modal-b-fade;
    transition: all .25s ease-in-out;
} */

.modal-holder {
    animation: ease-in-out .25s modal-fade;
    transition: all .25s ease-in-out;
}

@media (min-width: 344px) {
    .wrapper {
        min-height: 100%;
        height: auto;
        margin: 0 auto -37px;
        padding: 0 0 37px;
    }
    

    .v-center-content {
        height: calc(100% - 55px);
    }
}

@media (min-width: 992px) {
    .wrapper {
        min-height: 100%;
        height: auto;
        margin: 0 auto -35px;
        padding: 0 0 35px;
    }

    .v-center-content {
        height: calc(100% - 120px);
    }
}