@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,500,700');

@font-face {font-family: "Open Sans";
    src: url("assets/fonts/OpenSans/629a55a7e793da068dc580d184cc0e31.woff2") format("woff2"), /* chrome、firefox */
    url("assets/fonts/OpenSans/629a55a7e793da068dc580d184cc0e31.woff") format("woff"), /* chrome、firefox */
    url("assets/fonts/OpenSans/629a55a7e793da068dc580d184cc0e31.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
}

@font-face {font-family: "Futura Book";
    src: url("assets/fonts/Futura/fd6e6c30c7d355528ba9428eea942445.woff2") format("woff2"), /* chrome、firefox */
    url("assets/fonts/Futura/fd6e6c30c7d355528ba9428eea942445.woff") format("woff"), /* chrome、firefox */
    url("assets/fonts/Futura/fd6e6c30c7d355528ba9428eea942445.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
}

  @font-face {font-family: "Verdana";
    src: url("assets/fonts/Verdana/562fa31bba08b3f71cb71257ddb880d5.woff2") format("woff2"), /* chrome、firefox */
    url("assets/fonts/Verdana/562fa31bba08b3f71cb71257ddb880d5.woff") format("woff"), /* chrome、firefox */
    url("assets/fonts/Verdana/562fa31bba08b3f71cb71257ddb880d5.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
}

@font-face {font-family: "Tahoma";
    src: url("assets/fonts/Tahoma/cd0381aa3322dff4babd137f03829c8c.woff2") format("woff2"), /* chrome、firefox */
    url("assets/fonts/Tahoma/cd0381aa3322dff4babd137f03829c8c.woff") format("woff"), /* chrome、firefox */
    url("assets/fonts/Tahoma/cd0381aa3322dff4babd137f03829c8c.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
}

@font-face {font-family: "Comic Sans MS";
    src: url("assets/fonts/ComicSansMs/7cc6719bd5f0310be3150ba33418e72e.woff2") format("woff2"), /* chrome、firefox */
    url("assets/fonts/ComicSansMs/7cc6719bd5f0310be3150ba33418e72e.woff") format("woff"), /* chrome、firefox */
    url("assets/fonts/ComicSansMs/7cc6719bd5f0310be3150ba33418e72e.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
}

@font-face {font-family: "Times New Roman";
    src: url("assets/fonts/TimesNewRoman/32441506567156636049eb850b53f02a.woff2") format("woff2"), /* chrome、firefox */
    url("assets/fonts/TimesNewRoman/32441506567156636049eb850b53f02a.woff") format("woff"), /* chrome、firefox */
    url("assets/fonts/TimesNewRoman/32441506567156636049eb850b53f02a.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
}

@font-face {font-family: "Calibri";
    src: url("assets/fonts/Calibri/a78cfad3beb089a6ce86d4e280fa270b.woff2") format("woff2"), /* chrome、firefox */
    url("assets/fonts/Calibri/a78cfad3beb089a6ce86d4e280fa270b.woff") format("woff"), /* chrome、firefox */
    url("assets/fonts/Calibri/a78cfad3beb089a6ce86d4e280fa270b.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
}

html, body {
    height: 100%;
    min-height: 100%;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: #666666;

    background-image: url("./assets/images/prt-background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.no-pad-margin {
    padding: 0;
    margin: 0;
}

.btn {
    background-color: #00AFF0;
    color: #ffffff;
}

.btn:hover {
    background-color: rgb(1, 156, 212);
}

.cursor-pointer {
    cursor: pointer;
}

.position-relative {
    position: relative;
}

.btn:active {
    animation-name: buttonsmash;
    animation-duration: 2s;
}

@keyframes buttonsmash {
    from {
        box-shadow: inset 0px 2px 10px 0px rgba(0, 0, 0, 1);
    }
    to {
        box-shadow: none;
    }
}

@media (min-width: 344px) {
    .wrapper {
        min-height: 100%;
        height: auto;
        margin: 0 auto -37px;
        padding: 0 0 37px;
    }
    

    .v-center-content {
        height: calc(100% - 55px);
    }
}

@media (min-width: 992px) {
    .wrapper {
        min-height: 100%;
        height: auto;
        margin: 0 auto -35px;
        padding: 0 0 35px;
    }

    .v-center-content {
        height: calc(100% - 120px);
    }
}