@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,500,700');
@import url(//db.onlinewebfonts.com/c/fd6e6c30c7d355528ba9428eea942445?family=Futura);
@import url(//db.onlinewebfonts.com/c/7cc6719bd5f0310be3150ba33418e72e?family=Comic+Sans+MS);
@import url(//db.onlinewebfonts.com/c/a78cfad3beb089a6ce86d4e280fa270b?family=Calibri);
@import url(//db.onlinewebfonts.com/c/32441506567156636049eb850b53f02a?family=Times+New+Roman);
@import url(//db.onlinewebfonts.com/c/cd0381aa3322dff4babd137f03829c8c?family=Tahoma);
@import url(//db.onlinewebfonts.com/c/562fa31bba08b3f71cb71257ddb880d5?family=Verdana);
@import url(//db.onlinewebfonts.com/c/629a55a7e793da068dc580d184cc0e31?family=Open+Sans);

@font-face {
    font-family: 'Futura';
    src: url('assets/fonts/Futura.ttf')  format('truetype');
}

html, body {
    height: 100%;
    min-height: 100%;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: #666666;

    background-image: url("./assets/images/prt-background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.no-pad-margin {
    padding: 0;
    margin: 0;
}

.btn {
    background-color: #00AFF0;
    color: #ffffff;
}

.btn:hover {
    background-color: rgb(1, 156, 212);
}

.cursor-pointer {
    cursor: pointer;
}

.position-relative {
    position: relative;
}

.btn:active {
    animation-name: buttonsmash;
    animation-duration: 2s;
}

@keyframes buttonsmash {
    from {
        box-shadow: inset 0px 2px 10px 0px rgba(0, 0, 0, 1);
    }
    to {
        box-shadow: none;
    }
}

@media (min-width: 344px) {
    .wrapper {
        min-height: 100%;
        height: auto;
        margin: 0 auto -37px;
        padding: 0 0 37px;
    }
    

    .v-center-content {
        height: calc(100% - 55px);
    }
}

@media (min-width: 992px) {
    .wrapper {
        min-height: 100%;
        height: auto;
        margin: 0 auto -35px;
        padding: 0 0 35px;
    }

    .v-center-content {
        height: calc(100% - 120px);
    }
}