<div class="row browser-container">
    <div class="col-3 my-auto user-icon-container" *ngIf="user">
        <img src="../../../assets/images/avatars/{{user.avatar}}" class="user-icon float-right"
            style="padding-bottom: 3px;">
    </div>
    <div class="col-9" *ngIf="user">
        <div class="row">
            <div class="col-12 no-pad-margin">
                <div class="float-left">
                    <div class="no-pad-margin">
                        <span class="username no-pad-margin">{{ user.name }}</span>
                        <span class="user-status no-pad-margin"><i class="fas fa-circle"></i></span>
                    </div>
                    <div class="no-pad-margin" style="line-height: 15px;">
                        <span class="user-level no-pad-margin">{{ rank }} - Level {{ level }}</span>
                    </div>
                </div>

                <div class="float-right lg-nav-icon-container">
                    <i class="fas fa-cog lg-nav-icon" (click)="openProfile()" title="User Profile"></i>
                    <i class="fas fa-user-friends lg-nav-icon" (click)="openFriends()" title="Show Friends"></i>
                    <i class="fas fa-times lg-nav-icon" (click)="logout()" title="Logout"></i>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 progress-container">
                <ngb-progressbar type="success" [value]="user.experience" [max]="expNeeded"></ngb-progressbar>
            </div>
        </div>
    </div>
</div>
<div class="row mobile-container">
    <div class="col-12 my-auto user-icon-container" *ngIf="user">
        <img src="../../../assets/images/avatars/{{user.avatar}}" class="user-icon float-right cursor-pointer"
            style="margin-right: 5px;" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation" (click)="isCollapsed = !isCollapsed" (offClick)="isCollapsed ? isCollapsed : isCollapsed = !isCollapsed" />

        <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngbCollapse]="isCollapsed">
            <ul class="navbar-nav mr-auto nav-items">
                <ul class="navbar-nav mr-auto">
                    <li class="sm-nav-link cursor-pointer" (click)="openProfile()">
                        <span>
                            <i class="fas fa-cog sm-nav-icon"></i>
                            User Profile
                        </span>
                    </li>
                    <li class="sm-nav-link cursor-pointer" (click)="openFriends()">
                        <span>
                            <i class="fas fa-user sm-nav-icon" style="padding-right: 1px;"></i>
                            Show Friends
                        </span>
                    </li>
                    <li class="sm-nav-link cursor-pointer" (click)="logout()">
                        <span>
                            <i class="fas fa-times sm-nav-icon" style="padding-left: 1px; padding-right: 3px;"></i>
                            Logout
                        </span>
                    </li>
                </ul>
            </ul>
        </div>

    </div>
</div>