.user-icon {
    height: 55px;
    width: 60px;
    border-radius: 50%;
    /* position: relative;
    top: -10px; */
}

.user-icon-container {
    padding-right: 10px;
}

.lg-nav-icon {
    margin-right: 8px;
    font-size: 16px;
    cursor: pointer;
}

.lg-nav-icon-container {
    padding-right: 15px;
    padding-top: 7px;
}

.lg-nav-icon:hover {
    color: #ffffff;
}

.sm-nav-icon {
    margin-right: 5px;
    color: #666666;
}

.action-btn:hover {
    color: #ffffff;
}

.username {
    color: #ffffff;
    font-weight: bold;
    font-size: 12px;
}

.user-status {
    color: green;
    font-weight: 100;
    font-size: 9px;
    padding-left: 5px;
    position: relative;
    top: -1px;
}

.user-level {
    color: #ffffff;
    font-size: 11px;
    padding-bottom: 3px;
}

.progress-container {
    margin: 0;
    padding: 5px 18px 0px 0px;
}

.nav-items {
    background-color: #eee;
    z-index: 1;
    position: absolute;
    right: 45px;
    top: 55px;
    width: 130px;
    padding: 10px;
    box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.sm-nav-link>span {
    color: #666666;
    text-decoration: none;
    padding-left: 5px;
}

::ng-deep>>>.dropdown-menu {
    background-color: #eeeeee;
    box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.2);
    width: 50px !important;
}

@media (min-width: 344px) {
    .browser-container {
        display: none;
        position: relative;
        top: -3px;
    }
    .mobile-container {
        display: flex;
    }
    .user-icon {
        position: relative;
        top: 0px;
    }
}

@media (min-width: 992px) {
    .browser-container {
        display: flex;
    }
    .mobile-container {
        display: none;
    }
    .user-icon {
        position: relative;
        top: 3px;
    }
}