.content-container {
    @media (min-width: 344px) {
        padding-bottom: 0px;
        padding-top: 20px;
    }

    @media (min-width: 992px) {
        padding-bottom: 120px;
        padding-top: 140px;
    }
}
