<form (ngSubmit)="applyChanges()" [formGroup]="profileForm" novalidate>

    <div class="modal-header no-pad-margin">
        <div class="container user-header" *ngIf="user">
            <div class="row">
                <div class="col-12 my-auto text-center user-icon-container">
                    <div class="user-icon-content" (click)="openEditUserIcon()">
                        <img src="https://www.musictalentindia.com/upload/default.png" class="user-icon">
                        <div class="user-icon-edit-btn">
                            <i class="fas fa-edit"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center">
                    <div class="no-pad-margin">
                        <span class="username no-pad-margin">{{ user.name }}</span>
                    </div>
                    <div class="no-pad-margin" style="line-height: 15px;">
                        <span class="user-level no-pad-margin">{{ rank }} - Level {{ level }}</span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 progress-container">
                    <ngb-progressbar type="success" [value]="user.experience" [max]="expNeeded"></ngb-progressbar>
                </div>
            </div>
        </div>

        <i class="fas fa-times cursor-pointer close-btn" (click)="activeModal.dismiss()"></i>
    </div>
    <div class="container modal-body">
        <div class="row">
            <div class="col-12 text-center">
                <prt-alert-messages [messages]="messages"></prt-alert-messages>

                <div class="text-left">
                    <h5 class="form-header">Name</h5>
                </div>
                <div class="form-group position-relative">
                    <prt-form-validation-msgs [control]="profileForm.controls.name" [submitted]="profileForm.submitted">
                    </prt-form-validation-msgs>
                    <div class="col-12">
                        <div class="input-group">
                            <input type="text" class="form-control text-input" formControlName="name" autocomplete="off"
                                spellcheck="false" />
                        </div>
                    </div>
                </div>

                <div class="text-left">
                    <h5 class="form-header">Font</h5>
                </div>
                <div class="form-group position-relative">
                    <div class="col-12">
                        <div class="input-group">
                            <select class="form-control text-input" formControlName="font_face">
                                <option value="Lato">Lato</option>
                                <option value="Verdana">Verdana</option>
                                <option value="Tahoma">Tahoma</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="text-left">
                    <h5 class="form-header">Font Color</h5>
                </div>
                <div class="form-group position-relative">
                    <div class="col-12">
                        <div class="input-group">
                            <div class="color-input" [colorPicker]="profileForm.controls['font_color'].value"
                                (colorPickerChange)=" profileForm.controls['font_color'].setValue($event);"
                                [cpAlphaChannel]="'disabled'" [cpOKButton]="true" [cpPosition]="'bottom'"
                                [style.background]="profileForm.controls['font_color'].value"> </div>
                        </div>
                    </div>
                </div>

                <div class="text-left">
                    <h5 class="form-header">Bubble Color</h5>
                </div>
                <div class="form-group position-relative">
                    <div class="col-12">
                        <div class="input-group">
                            <div class="color-input" [colorPicker]="profileForm.controls['bubble_color'].value"
                                (colorPickerChange)=" profileForm.controls['bubble_color'].setValue($event);"
                                [cpAlphaChannel]="'disabled'" [cpOKButton]="true" [cpPosition]="'bottom'"
                                [style.background]="profileForm.controls['bubble_color'].value"> </div>
                        </div>
                    </div>
                </div>

                <div class="text-left">
                    <h5 class="form-header">Interests</h5>
                </div>
                <div class="form-group position-relative">
                    <div class="col-12">

                        <div class="row text-left interest-container">
                            <div class="col-lg-4 col-sm-6">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox" value="movies/tv"
                                            [checked]="profileForm.value.interests && profileForm.value.interests.indexOf('movies/tv') > -1"
                                            (change)="toggleInterest('movies/tv')" class="form-check-input"
                                            style="position: relative; top: 1.5px;" />
                                        <span class="interest-title">Movies/TV</span>
                                    </label>
                                </div>
                            </div>

                            <div class="col-lg-4 col-sm-6">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox" value="music"
                                            [checked]="profileForm.value.interests && profileForm.value.interests.indexOf('music') > -1"
                                            (change)="toggleInterest('music')" class="form-check-input"
                                            style="position: relative; top: 1.5px;" />
                                        <span class="interest-title">Music</span>
                                    </label>
                                </div>
                            </div>

                            <div class="col-lg-4 col-sm-6">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox" value="gaming"
                                            [checked]="profileForm.value.interests && profileForm.value.interests.indexOf('gaming') > -1"
                                            (change)="toggleInterest('gaming')" class="form-check-input"
                                            style="position: relative; top: 1.5px;" />
                                        <span class="interest-title">Gaming</span>
                                    </label>
                                </div>
                            </div>

                            <div class="col-lg-4 col-sm-6">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox" value="books"
                                            [checked]="profileForm.value.interests && profileForm.value.interests.indexOf('books') > -1"
                                            (change)="toggleInterest('books')" class="form-check-input"
                                            style="position: relative; top: 1.5px;" />
                                        <span class="interest-title">Books</span>
                                    </label>
                                </div>
                            </div>

                            <div class="col-lg-4 col-sm-6">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox" value="education"
                                            [checked]="profileForm.value.interests && profileForm.value.interests.indexOf('education') > -1"
                                            (change)="toggleInterest('education')" class="form-check-input"
                                            style="position: relative; top: 1.5px;" />
                                        <span class="interest-title">Education</span>
                                    </label>
                                </div>
                            </div>

                            <div class="col-lg-4 col-sm-6">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox" value="sports"
                                            [checked]="profileForm.value.interests && profileForm.value.interests.indexOf('sports') > -1"
                                            (change)="toggleInterest('sports')" class="form-check-input"
                                            style="position: relative; top: 1.5px;" />
                                        <span class="interest-title">Sports</span>
                                    </label>
                                </div>
                            </div>

                            <div class="col-lg-4 col-sm-6">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox" value="life"
                                            [checked]="profileForm.value.interests && profileForm.value.interests.indexOf('life') > -1"
                                            (change)="toggleInterest('life')" class="form-check-input"
                                            style="position: relative; top: 1.5px;" />
                                        <span class="interest-title">Life</span>
                                    </label>
                                </div>
                            </div>

                            <div class="col-lg-4 col-sm-6">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox" value="dating"
                                            [checked]="profileForm.value.interests && profileForm.value.interests.indexOf('dating') > -1"
                                            (change)="toggleInterest('dating')" class="form-check-input"
                                            style="position: relative; top: 1.5px;" />
                                        <span class="interest-title">Dating</span>
                                    </label>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="text-left">
                        <h5 class="form-header">Change Password</h5>
                    </div>
                    <div class="form-group position-relative">
                        <prt-form-validation-msgs [control]="profileForm.controls.oldPassword"
                            [submitted]="profileForm.submitted">
                        </prt-form-validation-msgs>
                        <div class="col-12">
                            <div class="input-group">
                                <input type="password" class="form-control text-input" formControlName="oldPassword"
                                    autocomplete="off" spellcheck="false" placeholder="Current Password" />
                            </div>
                        </div>
                    </div>

                    <div class="form-group position-relative">
                        <prt-form-validation-msgs [control]="profileForm.controls.newPassword"
                            [submitted]="profileForm.submitted">
                        </prt-form-validation-msgs>
                        <div class="col-12">
                            <div class="input-group">
                                <input type="password" class="form-control text-input" formControlName="newPassword"
                                    autocomplete="off" spellcheck="false" placeholder="New Password" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer text-center no-pad-margin">
        <div class="form-group text-center">
            <input type="submit" value="APPLY" class="btn submit-btn cursor-pointer" />
        </div>
    </div>
</form>