@import "../../../../assets/scss/utils/variables";

.content-container {
    .developer-container {
        padding-bottom: 40px;

        .name-title {
            font-size: 25px;
            font-weight: 600;
            padding-bottom: 10px;
        }

        .work-title {
            font-size: 16px;
            font-weight: 600;
            padding-bottom: 10px;
        }

        .contact-info {
            font-size: 16px;
            padding-bottom: 15px;
        }

        .bio {
            font-size: 14px;
            font-weight: 500;
            padding-top: 10px;
            text-align: left;
        }
    }
}
